/**
 * @author: Handsoncode
 */

.features .simple {

  h5 {
    margin: 20px 0 5px;
    padding:0;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 5px;
    }
  }

  .tabs {

    & > div:not(.tab) {
      padding: 0;
    }
  }

  .plugin-preview {
    padding: 46px 12px 0;
  }

  .CodeMirror {
    height: 456px;
    font-size: 12px;

    span {
      font-size: 12px;
    }
  }
  
  .example-error {
    position: absolute;
    top: 80px;
    left: 40px;
  }
}