/**
 * @author: Handsoncode
 */

.features .simple {

  h5 {
    margin: 20px 0 5px 0;
    padding:0;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 5px 0;
    }
  }

  h2.divider:before {
    top: 85%;

    @media only screen and (min-width: $mediumWidth) {
      top: 50px;
      left: 49%;
    }
  }

  .code-box {
    height: 440px;
    padding: 20px;
    overflow: auto;
    color: #fff;
    border: 2px solid $darkGray;
    background-color: $baseGray;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .left {
    margin-top: 5px;
    float: left;

    a {
      margin-left: 5px;
    }
  }

  .right {
    margin-top: 5px;
    float: right;

    a {
      margin-right: 5px;
    }
  }
}