/**
 * @author: Handsoncode
 */

.features .simple {

  h5 {
    margin: 20px 0 5px;
    padding:0;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 5px;
    }
  }

  .tabs {

    & > div:not(.tab) {
      padding: 0;
    }
  }

  .plugin-preview {
    padding: 46px 12px 0;
  }

  #example-error {
    @include square(26px);
    @include absolute-top-right(6px,22px);
    color: #fff;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    z-index: 10;
    background: $brandRedActive;
  }

  .CodeMirror {
    height: 456px;
    font-size: 12px;

    span {
      font-size: 12px;
    }
  }
  
  .example-error {
    position: absolute;
    top: 80px;
    left: 40px;
  }
}