/**
 * @author: Handsoncode
 */

 .features  {

   & .tabs-code {
     & > div {
       display: none;

       &:first-child, &.active {
         display: block;
       }
     }
   }

   .main-background {
     @include linear-gradient(-55deg, #1addef 0%, #2443fe 60%, #2443fe 40%, #4508c1 100%);
     box-shadow: 0 3px 10px rgba(0,0,0,0.10), 0 3px 10px rgba(0,0,0,0.10);
   }

   .header-features {
     padding: 60px 10px 0;
     color: $darkWhite;

     @media only screen and (min-width: $mediumWidth) {
       padding: 140px 10px 0;
     }
   }

   h3 {
     padding: 0 10px;
     margin: 50px 0 2px;
     font-weight: 500;

     @media only screen and (min-width: $mediumWidth) {
       padding-bottom: 2px;
     }
   }

   .brands {
     margin-top: 70px;

     ul {
       margin: 0;
     }

   }

   .border-bottom {
     width: 40px;
     margin: 10px 0 20px;
     border-bottom: solid 2px $brandBlue;

     @media only screen and (min-width: $mediumWidth) {
       margin: 10px auto 20px;
       display: block;
     }
   }

   .table-pad {
     margin: 0 auto -50px auto;
     display: block;

     @media only screen and (min-width: $mediumWidth) {
        margin: 0 auto -150px;
        display: block;
     }
   }

   .cta {
     margin: 10px auto 20px;
     padding: 60px 10px 0;
     text-align: center;
     clear: both;
     display: block;

     @media only screen and (min-width: $mediumWidth) {
       margin: 20px auto;
       padding: 0;
     }
   }

    p, a {
        line-height: 1.6;
      }

    p {
      padding: 0 10px;

      @media only screen and (min-width: $mediumWidth) {
        padding: 0;
      }
    }

   .p-icon {
    margin-left:0;

     @media only screen and (min-width: $mediumWidth) {
       margin-left: 87px;
     }

   }

   .svg-icon-fiddle {

     @include square(20px);
     fill: $brandBlue;
     margin:0 10px 0 20px;

     @media only screen and (min-width: $mediumWidth) {
       margin: 0 10px 0 20px;
       float: left;
     }
   }

   .svg-icon {

     @include square(160px);
     margin: 20px 0 0 0;
     padding: 0;

     @media only screen and (min-width: $mediumWidth) {

          @include square(75px);
          margin: 36px 10px 50px 0;
          float: left;
     }
   }
}