/**
 * @author: Handsoncode
 */

.open-source {
  padding: 40px 0 60px;

  @media only screen and (min-width: $largeWidth) {
    padding: 60px 0 40px;
  }

  h2 {

    span {
      margin: 20px 0;

      @media only screen and (min-width: $largeWidth) {
        width: 30%;
        margin-bottom: 80px;
      }
    }
  }

  p:first-child {
    margin-top: 30px;

    @media only screen and (min-width: $largeWidth) {
      margin-top: 120px;
    }
  }

  .chart {
    position: relative;

    .cloud {
      @include rectangle(108px, 60px);
      display: none;

      @media only screen and (min-width: $largeWidth) {
        margin-top: 120px;
        display: block;
      }

      margin: auto;
      padding: 14px 0 9px;
      border-radius: 6px;
      line-height: .7;
      color: #fff;

      strong {
        font-size: 20px;
        font-weight: 400;
      }

      span {
        display: block;
        font-size: 13px;
      }

      &.issues {
        @include absolute-top-left (-50px, 60px);
        background-color: $brandBlue;
      }

      &.commits {
        @include absolute-top-right (50px, 30px);
        background-color: $brandVibrantGreen;
      }

      &.stars {
        @include absolute-bottom-left (60px, 200px);
        background-color: $brandDeepNavy;
      }
    }

    img {
      max-height: 420px;
    }
  }
}
