/**
 * @author: Handsoncode
 */

.frontpage {

  .after-header-content {

    @media only screen and (min-width: $largeWidth) {
      @include linear-gradient(-75deg, #fff calc(50% + 119px), $darkWhite calc(50% + 119px));
      padding: 40px 0 0 0;
      margin: 0;

    }
  }

  .headline {
    margin: 110px 0;

    @media only screen and (min-width: $mediumWidth) {
      margin: 88px 0 80px;
    }
  }

  h1 {
    text-align: center;
    @media only screen and (min-width: $mediumWidth) {
      text-align: left;
    }
  }

  .header-background {
    @include linear-gradient(-75deg, #2092ef 0%, #2092ef 50%, #1e88e5 50%, #1e88e5 100%);
    padding-bottom: 90px;
  }
}