/**
 * @author: Handsoncode
 */

.blog  {
  padding-top: 200px;

  .excerpt {
    padding-bottom: 40px;

    a {
      @include transition (opacity .3s ease-out);
      margin: 14px;
      display: block;
      color: $baseGray;
      box-shadow: 0 0 1px 0 rgba(18,32,73,.08), 0 8px 32px 0 rgba(55,92,192,.08);
      border-radius: 4px;
      overflow: hidden;
      background-color: $darkWhite;

      @media only screen and (min-width: $largeWidth) {
        height: 470px;
      }

      &:hover {
        opacity: .85;
      }

      h3, p {
        padding: 0 8%;
        line-height: 1.4;
      }
    }
  }

  h2.category-title {
    text-transform: capitalize;
  }
}