/**
 * @author: Handsoncode
 */

 .examples  {

    h4 {
      text-align: left;
      margin:0;
      padding: 0;
    }

    .composer {
      padding-top: 20px;
    }

    .plugin-preview {
        @media only screen and (min-width: $largeWidth) {
            margin: 78px 0 0 50px;
        }
    }

    form, .external_links {
        margin-bottom: 40px;
        @media only screen and (min-width: $largeWidth) {
            margin-left: 19px;
        }
    }

    img {
        margin-top: 52px;
    }
}