/**
 * @author: Handsoncode
 */

.download-version .repositories {

  h3 {
    margin: 44px 0 18px;
  }

  .top-modules {
    height: 230px;
  }

  .bottom-modules {
    height: 280px;
  }

  .repositories-module {
    padding: 14px 20px 16px;
    background-color: $darkWhite;
  }

  .svg-icon {
    @include square(25px);

    margin: 0 5px -5px 0;
    float: inherit;
    fill: $brandBlue;

    @media only screen and (min-width: $largeWidth) {
      @include square(20px);
      margin: 10px 5px 0 0;
      float: left;
    }
  }

  .tabs-download {
    code {
      padding: 11px 15px;
      margin-top: 6px;
      overflow: auto;
      white-space: nowrap;
      background-color: #fff;
      font-family: $codeFont;
      border: 2px solid $gray;
    }

    & > div:not(.tab) {
      padding: 0;
    }
  }
}