/**
 * @author: Handsoncode
 */

.branding .logo-colors {

  h4 {
    margin: 0;
    padding: 5px 0 10px;
    font-size: 20px;
  }

  .color {
    padding: 15px;
    color: #fff;

    &.brand-blue {
      background-color: $brandBlue;
    }

    &.brand-red {
      background-color: $brandRed;
    }

    &.brand-green {
      background-color: $brandGreen;
    }

    &.brand-navy {
      background-color: $brandDeepNavy;
    }
    &.brand-yellow {
      background-color: $brandYellow;
      color: $baseGray;
    }
  }
}
