<section class="purchase">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-bottom-xsmall wait-for-font">
                <span>Step 1 of 2</span><br/>
                Your Purchase Configuration
            </h1>
        </div>
    </div>

    <div class="row gap-bottom-xsmall">
        <div class="small-12 large-11 small-centered columns">
            <div class="checkout">
                <div class="row">
                    <div class="small-12 medium-5 columns">
                        <div class="purchase">
                            <div class="purchase-name">
                                <h2 class="wait-for-font">Developer License</h2>
                                <p>
                                    <a href="<%= static_path %>/licenses/v4/handsontable-pro-general-terms.pdf"
                                       target="_blank" rel="noopener">License Agreement</a>
                                </p>
                            </div>
                            <div class="purchase-features">
                                <h3 class="wait-for-font">Features included:</h3>
                                <ul>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Lifetime, royalty free license
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        All premium features
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Unlimited websites
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Editable source code
                                    </li>
                                </ul>
                                <h3 class="wait-for-font">Support included:</h3>
                                <ul>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Free updates for 12 months
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        1 hour of free support time
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        36 hours initial response time
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--
                        <div class="purchase">
                            <div class="purchase-name">
                                <h2 class="wait-for-font">Developer Plus License</h2>
                                <p>
                                    <a href="<%= static_path %>/licenses/v4/handsontable-pro-general-terms.pdf"
                                       target="_blank" rel="noopener">License Agreement</a>
                                </p>
                            </div>
                            <div class="purchase-features">
                                <h3 class="wait-for-font">Features included:</h3>
                                <ul>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Lifetime, royalty free license
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        All premium features
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Unlimited websites
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Editable source code
                                    </li>
                                </ul>
                                <h3 class="wait-for-font">Support included:</h3>
                                <ul>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Free updates for 12 months
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        10 hour of free support time
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        12 hours initial response time
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Emergency hot fixes
                                    </li>
                                    <li>
                                        <svg class="svg">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                        Priority assistance
                                    </li>
                                </ul>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="small-12 medium-7 columns">
                        <div class="configuration">
                            <div class="config-amount gap-bottom-xxsmall">
                                <h3 class="wait-for-font">Number of developers</h3>
                                <div class="incremental-form">
                                    <button class="decrement btn bg-blue bg-lighten text-white">-</button>
                                    <input type="text" name="amount-field" id="amount-field" value="1"
                                           disabled="disabled" />
                                    <button class="increment btn bg-blue bg-lighten text-white">+</button>
                                </div>
                                <div class="tooltip-right">
                                    <div class="tooltip-inner">
                                        <span class="tooltip-text">Add one more to get 10% discount</span>
                                        <div class="tooltip-angle">
                                            <div class="tooltip-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="config-support gap-bottom-xxsmall">
                                <h3 class="wait-for-font">Support plan</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox" id="standard-support" checked="checked" />
                                        <label for="standard-support">Standard support ($0)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="extended-support" />
                                        <label for="extended-support">Extended support (+$700)</label>
                                    </li>
                                </ul>
                            </div>
                            <!--
                            <div class="config-subscription gap-bottom-xxsmall">
                                <h3 class="wait-for-font">Renewals</h3>
                                <div class="row commitment">
                                    <div class="small-2 medium-1 columns">
                                        <input type="checkbox" id="accept-subscription" />
                                    </div>
                                    <div class="small-10 medium-11 columns">
                                        <label for="accept-subscription">
                                            Renew my product after first year and bill me automatically.
                                            <br/>
                                            <small>By selecting this option, you sign up to support renewal plan.
                                                After first year you will be billed $390 / developer / year.
                                            </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            -->
                            <div class="config-summary">
                                <ul class="small-block-grid-2 small-centered">
                                    <li>
                                        <h3 class="total">
                                            <strong>
                                                Total:
                                                <span class="old-price">$1180</span>
                                                <span class="new-price">$1062</span>
                                            </strong>
                                        </h3>
                                        <p class="discount">You just saved <span class="savings">$118</span></p>
                                    </li>
                                    <li>
                                        <button class="btn size-large bg-green bg-lighten text-white shadow right
                                        hover-moveup">Checkout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="disclaimer">
                            By clicking 'Checkout' button you confirm that you have read and agreed
                            to the License Agreement(s) of the products listed above.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>