<section class="purchase">
    <div class="row gap-bottom-xsmall gap-top-medium">
        <div class="small-12 large-8 small-centered columns">
            <div class="checkout confirmation maintenance gap-top-xsmall gap-bottom-xsmall">
                <div class="row text-center">
                    <svg class="status-icon">
                        <use xlink:href="#hourglass-half"></use>
                    </svg>
                    <h2 class="text-center wait-for-font size-large">
                        <strong>This page is currently<br/> under scheduled maintenance.</strong>
                    </h2>
                    <div class="row">
                        <div class="small-12 large-6 small-centered columns">
                            <strong>We should be back shortly.</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-6 small-centered columns">
                            <p class="gap-top-xxsmall">
                                <strong>Need help?</strong>
                            </p>
                            <p>Contact our Sales Team at
                                <a href="mailto:sales@handsontable.com">sales@handsontable.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>