/**
 * @author: Handsoncode
 */

footer {
  margin-top: 80px;
  padding: 40px 0 60px;

  h4, p, a, a:active, a:visited {
    font-size: 14px;
    color: $baseGray;
  }

  h4, a:hover {
    color: $darkGray;
  }

  h4 {
    margin-top: 40px;

    @media only screen and (min-width: $largeWidth) {
      margin-top: 24px;
    }
  }
  .row > div:first-child {

    p, a, a:hover, a:active, a:visited {
      font-size: 13px;
      color: $darkGray;
    }
  }

  svg {
    @include rectangle(150px, 30px);
    position: inherit;
    margin-top: 20px;
    fill: #000;
  }
}