/**
 * @author: Handsoncode
 */

.star-counter {
  display: none;

  @media only screen and (min-width: $largeWidth) {
    margin-left: 20px;
    display: inherit;

    .github-star {
      position: relative;
      padding: 3px;
      display: inline-block;
      color: $darkWhite;
      line-height: 1.2;
      text-align: center;
      cursor: pointer;
      font-size: 0.5em;
      font-weight: 600;
      border-radius: 4px;
      border: 1px solid $darkWhite;

      .triangle {
        position:absolute;
        margin: 3px 0 -6px -9px;
        width: 3px;
        border-width: 3px 3px 0 4px;
        transform: rotate(90deg) translate(0);
        border-style: solid;
        border-color: $darkWhite transparent;
      }
    }
    .svg-icon {
      @include square(25px);
      fill: $darkWhite;
      margin-bottom: -5px;

      @media only screen and (min-width: $mediumWidth) {
        @include square(18px);
        float: left;
        margin: 12px 0 0 0;
      }
    }
  }
}