/**
 * @author: Handsoncode
 */

.star-counter {
  display: none;

  @media only screen and (min-width: $largeWidth) {
    margin-left: 20px;
    display: block;

    .github-star {
      @include relative-top-left (8px, 8px);
      padding: 1px 5px;
      display: inline-block;
      color: $darkWhite;
      cursor: pointer;
      font-size: 10px;
      font-weight: 600;
      border-radius: 3px;
      border: 1px solid $darkWhite;

      .triangle {
        @include arrow-left (6px, 4px, #fff);
        @include absolute-top-left (5px, -5px);
      }
    }

    .svg-icon {
      @include square (25px);
      fill: $darkWhite;
      margin-bottom: -5px;

      @media only screen and (min-width: $mediumWidth) {
        @include square (18px);
        float: left;
        margin: 12px 0 0 0;
      }
    }
  }
}