/**
 * @author: Handsoncode
 *
 * This
 */

header {
  @include absolute-top-left(0, 0);
  width: 100%;
  padding: 24px 0;
  z-index: 1;

  .logo {
    @include relative-top-left(10px, 0);

    svg {
      fill: $baseGray;

      &.handsontable-logo {
        @include rectangle(130px, 25px);
      }
    }
  }

  nav {

    & > a {
      @include absolute-top-right (24px, 25px);
      display: none;
      z-index: 1;

      @media only screen and (max-width: $largeWidth) {
        display: block;
      }

      svg {
        @include square (24px);
      }
    }

    ul {

      @media only screen and (max-width: $largeWidth) {
        background: #fff;
        border-radius: 4px;
        position: absolute;
        left: 3%;
        width: 94%;
        padding: 56px 0px 16px;
        text-align: center;
        top: 24px;
        box-shadow: 0 3px 18px rgba(0, 0, 0, 0.1), 0 3px 18px rgba(0, 0, 0, 0.1);
      }

      li {
        padding: 0 16px;
        display: inline-block;

        @media only screen and (max-width: $largeWidth) {
          width: 48%;

          &:last-child {
            width: 90%;
          }
        }

        &.sign-in {
          padding-right: 32px;
        }

        a {
          font-size: 14px;

          @media only screen and (max-width: $largeWidth) {
            width: 48%;
            font-size: 16px;

            .btn {
              margin-top: 30px;
            }
          }

          &:hover {
            color: $brandFeatherBlue;
          }
        }
      }
    }
  }

  &.header-white {

    a {
      color: #fff;
    }

    svg {
      fill: #fff;
    }
  }
}