/**
 * @author: Handsoncode
 */

.tabs {

  .tab {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    background-color: none;

    @media only screen and (min-width: $mediumWidth) {
      background: none;
    }

    ul li {
      padding: 14px 16px;
      display: inline-block;
      border-bottom: 3px solid transparent;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      font-size: 14px;
      background-color: inherit;

        &:hover,
        &:active,
        &:focus {
          border-bottom: 3px solid $brandBlue;
        }
      }
    }

 & > div:not(.tab) {
    padding: 20px 20px 30px;
    background-color: $headerGrey;
  }
}



