<section class="branding">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small">Brand guidelines</h1>
        </div>
    </div>

    <div class="header-branding brand-guides gap-top-small gap-bottom-xsmall">
        <div class="row">
            <div class="large-12 element-center columns">
                <svg class="large-logo">
                    <use xlink:href="#handsontable-logo-200x40"></use>
                </svg>
            </div>
        </div>
    </div>

    <div class="row brand-guides gap-top-small">
        <div class="small-12 large-5 columns">
            <div class="style-guidelines">
                <h2><strong>Style guidelines</strong></h2>
                <p>We have build this style guide to level and improve our products brand communication.
                    It goes inline with our policy and empowers our approach to the product itself.
                    Please feel free to use our collateral's as follows in this page.</p>
                <p><a href="/contact.html?category=general_question">Request a a permission</a></p>
            </div>
        </div>
        <div class="small-12 large-6 columns">
            <div class="download">
                <h2><strong>Download brand package</strong></h2>
                <p>Available formats: EPS, PDF, AI, SVG, JPG, PNG</p>
                <p><a href="static/resources/ModBranding/handsontable-branding-v1.zip"
                      class="btn size-medium bg-white text-green shadow hover-moveup">Download ZIP</a></p>
                <p>Handsontable's trademarks, including its logo, icons, glyph and other
                visual materials are owned by Handsoncode sp. z o.o. and can be used only
                with the Handsoncode's permission.
            </div>
        </div>
    </div>

    <div class="row logo-versions gap-top-small">
        <h2 class="gap-bottom-xsmall"><strong>Logo variations</strong></h2>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <svg class="svg logo">
                    <use xlink:href="#handsontable-logo-200x40"></use>
                </svg>
            </div>
            <h3>Logotype</h3>
            <p>Use whenever you can.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <svg class="svg logo-two">
                    <use xlink:href="#h-40x40"></use>
                </svg>
            </div>
            <h3>Monogram</h3>
            <p>For small spaces and low resolution screens.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <svg class="svg logo-three">
                    <use xlink:href="#hot-icon-200x200"></use>
                </svg>
            </div>
            <h3>Glyph</h3>
            <p>Used mainly in social media and small spaces.</p>
        </div>
    </div>

    <div class="row logo-inversions gap-top-small">
        <h2 class="gap-bottom-xsmall"><strong>Colour invertions</strong></h2>
        <div class="small-12 medium-6 columns">
            <div class="logo-holder">
                <svg class="svg logo">
                    <use xlink:href="#handsontable-logo-200x40"></use>
                </svg>
            </div>
            <h3>Regular</h3>
            <p>Standard black and white version of our logo.</p>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="logo-holder-black">
                <svg class="svg logo">
                    <use xlink:href="#handsontable-logo-w-200x40"></use>
                </svg>
            </div>
            <h3>Negative</h3>
            <p>Standard white and black version of our logo.</p>
        </div>
    </div>

    <div class="row logo-colors gap-top-small">
        <h2 class="gap-bottom-xsmall"><strong>Colours</strong></h2>
        <div class="small-12 medium-3 columns">
            <h4>Brand blue</h4>
            <div class="color brand-blue">
                <p>HEX: #34a9db<br/>
                    HSB: H: 197째 S: 77% B: 89%<br/>
                    RGB: 52 169 219
                </p>
            </div>
        </div>
        <div class="small-12 medium-3 columns">
            <h4>Brand green</h4>
            <div class="color brand-green">
                <p>HEX: #43a047<br/>
                    HSB: H: 123째 S: 58% B: 63%<br/>
                    RGB: 67 160 71
                </p>
            </div>
        </div>
        <div class="small-12 medium-3 columns">
            <h4>Brand deep navy</h4>
            <div class="color brand-navy">
                <p>HEX: #414c5b<br/>
                    HSB: H: 197째 S: 77% B: 89%<br/>
                    RGB: 65 76 91
                </p>
            </div>
        </div>
        <div class="small-12 medium-3 columns ">
            <h4>Brand red</h4>
            <div class="color brand-red">
                <p>HEX: #e87677<br/>
                    HSB: H: 240째 S: 1% B: 28%<br/>
                    RGB: 232 118 119
                </p>
            </div>
        </div>
    </div>

    <div class="row heading logo-spacing gap-top-small">
        <h2 class="gap-bottom-xsmall"><strong>Spacing</strong></h2>
        <div class="small-12 medium-3 columns">
            <div class="logo-holder">
                <svg class="svg">
                    <use xlink:href="#logo-icon-spacing"></use>
                </svg>
            </div>
            <p>
                Handsontable glyph should keep at least 25% of its height of free space.
            </p>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="logo-holder">
                <svg class="svg">
                    <use xlink:href="#handsontable-logo-spacing"></use>
                </svg>
            </div>
            <p>Handsontable logo has an invisible space around it.
                From top of it please keep free space for of at least full height of the logo.</p>
        </div>
        <div class="small-12 medium-3 columns">
            <div class="logo-holder">
                <svg class="svg">
                    <use xlink:href="#handsontable-icon-40x40"></use>
                </svg>
            </div>
            <p>Handsontable Monogram should keep free space for of
                at least full height of the logo.</p>
        </div>
    </div>

    <div class="row heading logo-writing gap-top-small">
        <h2 class="gap-bottom-xsmall"><strong>In writing</strong></h2>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <h3>Handsontable</h3>
                <p>
                    It is spelled as a single word with capital H and lower case afterwards.
                </p>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <h3>Hands<br/>
                    on<br/>
                    table
                </h3>
                <p>In this variation remember an invisible marker space around the text.</p>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="logo-holder">
                <h3>Inappropriate spelling</h3>
                <p>
                    <s>Hands on table</s><br />
                    <s>Handsome table</s><br />
                    <s>HandsOnTable</s>
                </p>
            </div>
        </div>
    </div>

    <div class="row heading logo-artworks gap-top-small gap-bottom-small">
        <h2 class="gap-bottom-xsmall"><strong>Artworks and terms</strong></h2>
        <div class="small-12 medium-6 columns">
            <h3>Artworks</h3>
            <p>
                Please don't use our images, drawings, illustrations, or other assets without permission.
            </p>
            <img src="/static/resources/ModBranding/forbidden-artworks.jpg">

        </div>
        <div class="small-12 medium-5 columns">
            <h3>Screenshots</h3>
            <p>Feel free to use unaltered screenshots for instructional purposes.
                Please don't superimpose graphics, change the way our products look, or include any user
                information in your screenshots.
                You can annotate as long as the annotations are clearly distinct from the original screenshot.
                You can find our screenshots.
            </p>
            <h4>General terms</h4>
            <p>
                By using Handsontable brand materials, you agree to the Handsontable Terms of Service, these
                Handsontable branding guidelines,
                and all Handsontable rules and policies, as may be updated from time to time.
                You also acknowledge that Handsoncode company is the sole owner of Handsontable trademarks, promise
                not to interfere with Handsontable's rights in them, and acknowledge that goodwill derived
                from their use accrues only to Handsontable.
                Handsoncode may review use of the branding materials at any time and reserves the right to
                terminate or modify any use.
            </p>
            <h4>Have a question?</h4>
            <p>
                Feel free to email <a href="mailto:hello@handsontable.com">hello@handsontable.com.</a> It helps
                if you send a mockup of your intended use so we can be specific in our response.
                We'll do our best to get back to you within one week.
            </p>
        </div>
    </div>
</section>