<section class="developers">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-xsmall">Developer Hub</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall">Get started</h3>
                <div class="content height-medium">
                    <p>
                        The Handsontable API lets you fully customize the spreadsheet’s UI, and connect to any given
                        data source. Read through the guides for a better understanding of how far your can
                        take Handsontable in your own app.
                    </p>
                    <p><strong>Quick start:</strong></p>
                    <ul class="list-numbered">
                        <li><a href="https://docs.handsontable.com/">
                                Documentation</a></li>
                        <li><a href="https://docs.handsontable.com/tutorial-custom-build.html">
                                Read guides</a></li>
                        <li><a href="https://docs.handsontable.com/Core.html">API Reference</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall">Current release</h3>
                <div class="content height-medium">
                    <div class="row collapse">
                        <div class="small-12 medium-6 columns">
                            <h4 class="weight-bold">Handsontable CE</h4>
                            <p>
                                Version: <%= hot_ce_version %><br/>
                                Release date: <%= hot_ce_date %><br/>
                                <a href="/community-download.html">Download</a>
                            </p>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <h4 class="weight-bold">Handsontable Pro</h4>
                            <p>
                                Version: <%= hot_pro_version %><br/>
                                Release date: <%= hot_pro_date %><br/>
                                <a href="/pro-download.html">Try it now</a>
                            </p>
                        </div>
                    </div>
                    <p>See the <a href="//docs.handsontable.com/pro/tutorial-release-notes.html">
                            change log</a> for detailed information about the latest updates.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall">Resources</h3>
                <div class="content">
                    <ul class="small-block-grid-3 list">
                        <li>
                            <h4 class="weight-bold">About</h4>
                            <ul class="list-numbered">
                                <li><a href="//github.com/handsontable/handsontable/releases" target="_blank">Change log</a>
                                </li>
                                <li><a href="//trello.com/b/PztR4hpj/handsontable-roadmap-2017-(login-to-vote)" target="_blank">Roadmap</a>
                                </li>
                                <li><a href="//docs.handsontable.com/tutorial-compatibility.html">Compatibility</a></li>
                                <li><a href="//docs.handsontable.com/tutorial-licensing.html">Licensing</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4 class="weight-bold">Support</h4>
                            <ul class="list-numbered">
                                <li><a href="//github.com/handsontable/handsontable/issues" target="_blank">Add new issue</a>
                                </li>
                                <li><a href="//forum.handsontable.com">Ask on forum</a></li>
                                <li><a href="/blog">Read articles</a></li>
                                <li><a href="/contact">Contact us</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4 class="weight-bold">Community</h4>
                            <ul class="list-numbered">
                                <li><a href="//github.com/handsontable/handsontable/issues" target="_blank">GitHub CE</a>
                                </li>
                                <li><a href="//github.com/handsontable/handsontable/issues" target="_blank">GitHub Pro</a>
                                </li>
                                <li><a href="//forum.handsontable.com">Forum</a></li>
                                <li><a href="//twitter.com/handsontable" target="_blank">Twitter</a></li>
                                <li><a href="//stackoverflow.com/tags/handsontable" target="_blank">StackOverflow</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall">News from the blog</h3>
                <div class="content height-medium news-blog">
                    <ul>
                        <li>
                            <h4>
                                <a href="/blog/articles/2017/5/1.11.0-beta1-0.32.0-beta1">Handsontable v0.28.0
                                    (Pro 1.11.0) released!</a></h4>
                            <p>
                                In this release we've focused on fixing some importnat issues regarding
                                the merge cells option (...)
                            </p>
                        </li>
                        <li>
                            <h4>
                                <a href="/blog/articles/how-to-build-a-custom-version-of-handsontable">How
                                    to Build a Custom Version of Handsontable</a></h4>
                            <p>
                                One of the key features of Handsontable is its scalability. As a modular
                                library, Handsontable - when paired with the hot-builder (...)
                            </p>
                        </li>
                        <li>
                            <h4>
                                <a href="/blog/articles/customize-handsontable-context-menu">Customize
                                    Handsontable Context Menu</a></h4>
                            <p>
                                We distinguish two most common ways to manipulate the spreadsheet
                                and its contents. One is by using external controls like (...)
                            </p>
                        </li>
                    </ul>
                    <a href="/blog/" class="more-articles text-center">More articles</a>
                </div>
            </div>
        </div>
    </div>

    <div class="simple-stats">
        <div class="row">
            <div class="medium-12 large-4 columns">
                <h4>Open source since 2012</h4>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span>5274</span><br/>
                    commits
                </p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span>3256</span><br/>
                    closed issues</p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span>131</span><br/>
                    releases
                </p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span>57</span><br/>
                    contributors
                </p>
            </div>
        </div>
    </div>
</section>