<section class="developers">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-xsmall wait-for-font">Developer Hub</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall wait-for-font">Get started</h3>
                <div class="content height-medium">
                    <p>
                        The Handsontable API lets you fully customize the spreadsheet’s UI, and connect to any given
                        data source.
                    </p>
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <h4 class="weight-bold">Handsontable CE</h4>
                            <ul class="list-numbered">
                                <li><a href="//docs.handsontable.com/latest">
                                        Documentation</a></li>
                                <li><a href="//docs.handsontable.com/tutorial-release-notes.html">
                                        Change log</a></li>
                                <li><a href="//docs.handsontable.com/tutorial-licensing.html">
                                        Licensing</a></li>
                            </ul>
                        </div>
                        <div class="small-12 medium-6 columns">
                            <h4 class="weight-bold">Handsontable Pro</h4>
                            <ul class="list-numbered">
                                <li><a href="//docs.handsontable.com/pro/latest">
                                        Documentation</a></li>
                                <li><a href="//docs.handsontable.com/pro/tutorial-release-notes.html">
                                        Change log</a></li>
                                <li><a href="//docs.handsontable.com/pro/tutorial-licensing.html">
                                        Licensing</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall wait-for-font">Current release</h3>
                <div class="content height-medium">
                    <div class="row collapse">
                        <div class="small-12 medium-6 columns">
                            <h4 class="weight-bold">Handsontable CE</h4>
                            <p>
                                Version: <%= hot_ce_version %><br/>
                                Release date: <%= hot_ce_date %><br/>
                                <a href="/community-download">Download</a>
                            </p>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <h4 class="weight-bold">Handsontable Pro</h4>
                            <p>
                                Version: <%= hot_pro_version %><br/>
                                Release date: <%= hot_pro_date %><br/>
                                <a href="/pro-download">Try it now</a>
                            </p>
                        </div>
                    </div>
                    <p>See the <a href="//docs.handsontable.com/pro/tutorial-release-notes.html">
                            change log</a> for detailed information about the latest updates.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall">More resources</h3>
                <div class="content">
                    <ul class="small-block-grid-3 list">
                        <li>
                            <h4 class="weight-bold">Wrappers</h4>
                            <ul class="list-numbered">
                                <li><a href="//github.com/handsontable/react-handsontable" target="_blank" rel="noopener">React</a></li>
                                <li><a href="https://github.com/handsontable/angular-handsontable">Angular</a></li>
                                <li><a href="//github.com/handsontable/ngHandsontable" target="_blank" rel="noopener">Angular 1</a></li>
                                <li><a href="//github.com/handsontable/hot-table" target="_blank" rel="noopener">Polymer</a></li>
                                <li><a href="//github.com/handsontable/vue-handsontable-official" target="_blank" rel="noopener">Vue</a></li>
                            </ul>
                        </li>
                        <li>
                            <h4 class="weight-bold">Support</h4>
                            <ul class="list-numbered">
                                <li><a href="//github.com/handsontable/handsontable/issues" target="_blank" rel="noopener">GitHub issues</a>
                                </li>
                                <li><a href="//twitter.com/handsontable" target="_blank" rel="noopener">Twitter</a></li>
                                <li><a href="//stackoverflow.com/tags/handsontable" target="_blank" rel="noopener">StackOverflow</a></li>
                                <li><a href="//forum.handsontable.com">Ask on forum</a></li>
                                <li><a href="/blog">Read Blog</a></li>

                            </ul>
                        </li>
                        <li>
                            <h4 class="weight-bold">About</h4>
                            <ul class="list-numbered">
                                <li>
                                    <a href="//trello.com/b/PztR4hpj/handsontable-roadmap-2017-(login-to-vote)" target="_blank" rel="noopener">Roadmap</a>
                                </li>
                                <li><a href="/team">Team</a></li>
                                <li><a href="/contact">Contact us</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="module">
                <h3 class="gap-top-xsmall">News from the blog</h3>
                <div class="content height-medium news-blog">
                    <ul>
                        <li>
                            <h4>
                                <a href="/blog/articles/2017/12/1.15.0-0.35.0">Handsontable Pro 1.15.0 (CE 0.35.0)
                                    now released</a></h4>
                            <p>
                                Handsontable, by default, displays all the messages in English (US). We are happy to
                                announce that (...)
                            </p>
                        </li>
                        <li>
                            <h4>
                                <a href="/blog/articles/2017/10/1.14.3-0.34.5">Handsontable Pro 1.14.3 (CE 0.34.5)
                                    now released</a></h4>
                            <p>
                                Today we are happy to announce that Handsontable Pro 1.14.3 (Community Edition 0.34.5) is 
                                now released. In this version (...)
                            </p>
                        </li>
                        <li>
                            <h4>
                                <a href="/blog/articles/2017/9/1.14.2-0.34.4">Handsontable Pro 1.14.2 (CE 0.34.4)
                                    released</a></h4>
                            <p>
                                Yesterday we released a new version of Handsontable Pro (1.14.1) and Community Edition (0.34.3),
                                where we fixed a problem associated with wrong (...)
                            </p>
                        </li>
                    </ul>
                    <a href="/blog/" class="more-articles text-center">More articles</a>
                </div>
            </div>
        </div>
    </div>

    <div class="simple-stats">
        <div class="row">
            <div class="medium-12 large-4 columns">
                <h4>Open source since 2012</h4>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span data-bind="commitsCount">-</span><br/>
                    commits
                </p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span data-bind="closedIssuesCount">-</span><br/>
                    closed issues</p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span data-bind="releasesCount">-</span><br/>
                    releases
                </p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
                <p><span data-bind="contributorsCount">-</span><br/>
                    contributors
                </p>
            </div>
        </div>
    </div>
</section>