<section class="download">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small wait-for-font">Download Handsontable<br/>
                <span>Get started in minutes</span>
            </h1>
        </div>
    </div>

    <div class="row products">
        <div class="small-12 large-6 columns gap-bottom-xsmall">
            <a href="/community-download"
               class="btn bg-green text-white shadow bg-lighten hover-moveup handsontable-ce">
                <p>Open Source</p>
                <h2 class="size-medium wait-for-font">
                    <strong>Handsontable Community Edition</strong>
                </h2>
                <p>A fully functional JavaScript spreadsheet
                    component with lots of features and a community support.
                </p>

                <p class="btn size-large bg-white text-green">
                    Download options
                    <svg class="svg-icon">
                        <use xlink:href="#arrow-pointing-right"></use>
                    </svg>
                </p>
            </a>
        </div>
        <div class="small-12 large-6 columns gap-bottom-xsmall">
            <a href="/pro-download"
               class="btn bg-blue text-white shadow bg-lighten hover-moveup handsontable-pro">
                <p>Commercial license</p>
                <h2 class="size-medium wait-for-font">
                    <strong>Handsontable Pro</strong>
                </h2>
                <p>Try this premium spreadsheet component with advanced features such as
                    Filters, Column summary, Nested headers and support included.
                </p>

                <p class="btn size-large bg-white text-blue">
                    Try for free
                    <svg class="svg-icon">
                        <use xlink:href="#arrow-pointing-right"></use>
                    </svg>
                </p>
            </a>
        </div>
    </div>

    <div class="row products side-products">

        <div class="small-12 large-6 columns gap-bottom-xxsmall">
            <a href="//labs.handsontable.com" class="btn bg-red bg-lighten size-large text-white hover-moveup shadow">
                Convert Excel to Handsontable
                <sup>BETA</sup>
            </a>
        </div>
        <div class="small-12 large-6 columns gap-bottom-xxsmall">
            <a href="#" class="btn bg-gray size-large text-darkgray" style="cursor: default">
                Download builder (coming in Q2/2018)
            </a>
        </div>

    </div>

    <div class="row wrappers">
        <h2 class="text-center size-large gap-top-xsmall gap-bottom-xsmall">
            Available for frameworks
        </h2>

        <ul class="large-block-grid-5 small-block-grid-3 small-centered">
            <li>
                <a href="//github.com/handsontable/react-handsontable" target="_blank" rel="noopener" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#react-js"></use>
                    </svg>
                    <p>React</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/ngHandsontable" target="_blank" rel="noopener" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#angular-1"></use>
                    </svg>
                    <p>Angular 1</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/angular-handsontable" target="_blank" rel="noopener" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#angular"></use>
                    </svg>
                    <p>Angular</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/hot-table" target="_blank" rel="noopener" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#polymer-l"></use>
                    </svg>
                    <p>Polymer</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/vue-handsontable-official" target="_blank" rel="noopener" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#vue-l"></use>
                    </svg>
                    <p>Vue</p>
                </a>
            </li>
        </ul>
    </div>
</section>