<section class="download">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small">Download Handsontable<br/>
                <span>Get started in minutes</span>
            </h1>
        </div>
    </div>

    <div class="row products">
        <div class="small-12 large-6 columns gap-bottom-xsmall">
            <a href="/community-download.html"
               class="btn bg-green text-white shadow bg-lighten handsontable-ce">
                <small>Open Source</small>
                <h2 class="size-medium">Handsontable Community Edition</h2>
                <p>A fully functional JavaScript spreadsheet
                    component with lots of features and a community support.
                    It is released under the MIT license and suitable for both
                    open source and commercial projects.</p>

                <p class="btn size-large bg-white text-green"
                   href="/community-download.html">
                    Download options
                    <svg class="svg-icon">
                        <use xlink:href="#arrow-pointing-right"></use>
                    </svg>
                </p>
            </a>
        </div>
        <div class="small-12 large-6 columns gap-bottom-xsmall">
            <a href="/pro-download.html"
               class="btn bg-blue text-white shadow bg-lighten handsontable-pro">
                <small>Commercial license</small>
                <h2 class="size-medium">Handsontable Pro</h2>
                <p>Try this fully supported spreadsheet with advanced features such as
                    Filters, Column summary, Nested headers and more. The most popular choice
                    among established businesses and startups.</p>

                <p class="btn size-large bg-white text-blue"
                   href="/community-download.html">
                    Try for free
                    <svg class="svg-icon">
                        <use xlink:href="#arrow-pointing-right"></use>
                    </svg>
                </p>
            </a>
        </div>
    </div>

    <div class="row products coming-soon">
        <div class="small-12 large-6 columns">
            <a href="#" class="btn bg-gray text-white">
                <h2 class="size-medium">Download custom build</h2>
                <p>Coming soon</p>
            </a>
        </div>
        <div class="small-12 large-6 columns">
            <a href="#" class="btn bg-gray text-white">
                <h2 class="size-medium">Excel to Handsontable</h2>
                <p>Coming soon</p>
            </a>
        </div>
    </div>

    <div class="row wrappers">
        <h2 class="text-center size-large gap-top-xsmall gap-bottom-xsmall">
            Available for frameworks
        </h2>

        <ul class="large-block-grid-5 small-block-grid-3 small-centered">
            <li>
                <a href="//github.com/handsontable/react-handsontable" target="_blank" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#react-js"></use>
                    </svg>
                    <p>React</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/ngHandsontable" target="_blank" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#angular-l"></use>
                    </svg>
                    <p>AngularJS</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/angular-handsontable" target="_blank" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#angular-2"></use>
                    </svg>
                    <p>Angular</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/hot-table" target="_blank" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#polymer-l"></use>
                    </svg>
                    <p>Polymer</p>
                </a>
            </li>
            <li>
                <a href="//github.com/handsontable/vue-handsontable-official" target="_blank" class="btn hover-moveup">
                    <svg>
                        <use xlink:href="#vue-l"></use>
                    </svg>
                    <p>Vue.js</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="row resources gap-bottom-small">
        <h2 class="text-center size-large gap-top-xsmall gap-bottom-xsmall">
            More resources
        </h2>

        <ul class="small-block-grid-3 list">
            <li>
                <ul>
                    <li><a href="//docs.handsontable.com/tutorial-quick-start.html">Quick start</a></li>
                    <li><a href="//docs.handsontable.com/tutorial-setting-options.html">Setting options</a></li>
                    <li><a href="//docs.handsontable.com/tutorial-data-binding.html">Data binding</a></li>
                    <li><a href="//docs.handsontable.com/tutorial-load-and-save.html">Load and save</a></li>
                    <li><a href="//github.com/handsontable/handsontable/blob/master/handsontable.d.ts"
                           target="_blank">Typescript</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="/knowledge-base.html">Knowledge base</a></li>
                    <li><a href="//docs.handsontable.com/tutorial-compatibility.html">Compatibility</a></li>
                    <li><a href="//docs.handsontable.com/tutorial-licensing.html">Licensing</a></li>
                    <li><a href="//docs.handsontable.com/tutorial-release-notes.html">Changelog</a></li>
                    <li><a href="//trello.com/b/PztR4hpj/" target="_blank">Roadmap</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="//github.com/handsontable/handsontable" target="_blank">GitHub</a></li>
                    <li><a href="//twitter.com/handsontable" target="_blank">Twitter</a></li>
                    <li><a href="//stackoverflow.com/tags/handsontable" target="_blank">StackOverflow</a></li>
                    <li><a href="//forum.handsontable.com/">
                            Developer’s forum</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>