<section class="examples">

    <div class="row">
        <h1 class="text-center size-large gap-top-medium gap-bottom-xsmall wait-for-font">Customize your spreadsheet<br/>
            <span>Choose from the most popular features</span>
        </h1>
    </div>

    <div class="row">
        <div class="small-12 medium-3 columns side-features">
            <h5>Popular basic features</h5>
            <form id="basic_features">
                <!-- Headers -->
                <p class="feature_entry">
                    <input id="feature-headers" type="checkbox"/>
                    <label for="feature-headers">
                        Headers
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Fixed rows/columns -->
                <p class="feature_entry">
                    <input id="feature-fixed" type="checkbox"/>
                    <label for="feature-fixed">
                        Fixed rows/columns
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Sorting -->
                <p class="feature_entry">
                    <input id="feature-sorting" type="checkbox"/>
                    <label for="feature-sorting">
                        Sorting
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Merge Cells -->
                <p class="feature_entry">
                    <input id="feature-merge-cells" type="checkbox"/>
                    <label for="feature-merge-cells">
                        Merge Cells
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Row/Column Resize -->
                <p class="feature_entry">
                    <input id="feature-manual-resize" type="checkbox"/>
                    <label for="feature-manual-resize">
                        Row/Column Resize
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Row/Column Move -->
                <p class="feature_entry">
                    <input id="feature-manual-move" type="checkbox"/>
                    <label for="feature-manual-move">
                        Row/Column Move
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Conditional Formatting -->
                <p class="feature_entry">
                    <input id="feature-conditional-formatting" type="checkbox"/>
                    <label for="feature-conditional-formatting">
                        Conditional Formatting
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Context Menu -->
                <p class="feature_entry">
                    <input id="feature-context-menu" type="checkbox"/>
                    <label for="feature-context-menu">
                        Context Menu
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <p id="see_all_basic">
                    <a href="/features">See all features</a>
                </p>
            </form>
            <h5>Pro features</h5>
            <form id="pro_features">
                <!-- Filters -->
                <p class="feature_entry">
                    <input id="feature-filters" type="checkbox"/>
                    <label for="feature-filters">
                        Filters
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Dropdown Menu -->
                <p class="feature_entry">
                    <input id="feature-dropdown-menu" type="checkbox"/>
                    <label for="feature-dropdown-menu">
                        Dropdown Menu
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Export to CSV -->
                <p class="feature_entry">
                    <input id="feature-csv-export" type="checkbox"/>
                    <label for="feature-csv-export">
                        Export to CSV
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Fixed bottom rows -->
                <p class="feature_entry">
                    <input id="feature-fixed-bottom" type="checkbox"/>
                    <label for="feature-fixed-bottom">
                        Fixed bottom rows
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Basic calculations -->
                <p class="feature_entry">
                    <input id="feature-column-summary" type="checkbox"/>
                    <label for="feature-column-summary">
                        Basic calculations
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Nested Headers -->
                <p class="feature_entry">
                    <input id="feature-nested-headers" type="checkbox"/>
                    <label for="feature-nested-headers">
                        Nested Headers
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Collapsible Columns -->
                <p class="feature_entry">
                    <input id="feature-collapsible-columns" type="checkbox"/>
                    <label for="feature-collapsible-columns">
                        Collapsible Columns
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
                <!-- Trim Rows -->
                <p class="feature_entry">
                    <input id="feature-trim-rows" type="checkbox"/>
                    <label for="feature-trim-rows">
                        Trim Rows
                        <svg class="checkbox">
                            <use xlink:href="#checkbox_icon"></use>
                        </svg>
                        <svg class="checkbox checked">
                            <use xlink:href="#checkbox_checked_icon"></use>
                        </svg>
                    </label>
                </p>
            </form>
        </div>

        <div class="small-12 medium-9 columns">
            <div class="plugin-preview">
                <div id="hot"></div>
                <div id="export-buttons">
                    <button id="export-csv" class="btn size-medium bg-blue text-white shadow hover-moveup">Export to a .csv file</button>
                    <button id="export-string" class="btn size-medium bg-green text-white shadow hover-moveup">
                        Export to string (see the browser console)
                    </button>
                </div>
            </div>
            <div class="tabs-alternative code-box">
                <ul class="tabs clearfix" data-tab role="tablist">
                    <li class="left">
                      <a id="tab-features" role="tab" aria-selected="true">Enabled features</a>
                    <li class="left">
                      <a id="tab-code" role="tab" aria-selected="false">Code</a>
                    </li>
                    <li class="action-link right">
                        <a href="#" id="jsfiddle-link">
                            <svg class="left">
                                <use xlink:href="#edit_icon"></use>
                            </svg>
                            Edit in JSFiddle
                        </a>
                    </li>
                </ul>
                <div class="tabs-content">
                    <section id="tab-content-features" role="tabpanel" aria-hidden="false" class="content active">
                        <ol>
                            <li id="feature-desc-headers" aria-hidden="true">
                              <h4>Headers</h4>
                              <p>Adds rows or column headings to the spreadsheet. You can assign a letter to each column automatically, or enter your own custom name, and even HTML elements.</p>
                            </li>
                            <li id="feature-desc-fixed" aria-hidden="true">
                              <h4>Fixed rows/columns</h4>
                              <p>Keeps the top rows or left-hand side columns visible while scrolling down or across the table.</p>
                            </li>
                            <li id="feature-desc-sorting" aria-hidden="true">
                              <h4>Sorting</h4>
                              <p>Sorts data in ascending or descending order throughout selected columns. You can optionally add an arrow indicating the sorting order.</p>
                            </li>
                            <li id="feature-desc-merge-cells" aria-hidden="true">
                              <h4>Merge Cells</h4>
                              <p>Creates a larger, single cell by merging multiple cells. It keeps the content of the upper-left cell and removes the content of all other cells.</p>
                            </li>
                            <li id="feature-desc-manual-resize" aria-hidden="true">
                              <h4>Row/Column Resize</h4>
                              <p>Allows manual modification of row or column sizes. The sizing handle appears in the right part of the column header or at the bottom of the row header.</p>
                            </li>
                            <li id="feature-desc-manual-move" aria-hidden="true">
                              <h4>Row/Column Move</h4>
                              <p>Allows manual swapping of rows or columns within the table. The moving handle appears in the left part of the column header or at the top of the row header.</p>
                            </li>
                            <li id="feature-desc-conditional-formatting" aria-hidden="true">
                              <h4>Conditional Formatting</h4>
                              <p>Defines how the specific cells are formatted depending on the content. For instance, in this demo all negative values are marked red and the positive values are green.</p>
                            </li>
                            <li id="feature-desc-context-menu" aria-hidden="true">
                              <h4>Context Menu</h4>
                              <p>Opens a pop-up menu that provides a list of items to choose. Right-click anywhere inside the table to open the context menu.</p>
                            </li>
                            <li id="feature-desc-filters" aria-hidden="true">
                              <h4>Filters</h4>
                              <p>Allows the addition of criteria to display only specific rows while hiding others. Available from the dropdown menu in the header.</p>
                            </li>
                            <li id="feature-desc-dropdown-menu" aria-hidden="true">
                              <h4>Dropdown Menu</h4>
                              <p>Allows the creation of a dropdown menu, available in the column headers.</p>
                            </li>
                            <li id="feature-desc-csv-export" aria-hidden="true">
                              <h4>Export to CSV</h4>
                              <p>Adds the ability to export the data as comma-separated values. In the demo above, just click a button to download the flat file.</p>
                            </li>
                            <li id="feature-desc-fixed-bottom" aria-hidden="true">
                              <h4>Fixed bottom rows</h4>
                              <p>Keeps the bottom rows visible while scrolling down or across the table.</p>
                            </li>
                            <li id="feature-desc-column-summary" aria-hidden="true">
                              <h4>Basic calculations</h4>
                              <p>Displays the total numeric values for the specific range. It also calculates min, max, average, and count, and handles custom functions.</p>
                            </li>
                            <li id="feature-desc-nested-headers" aria-hidden="true">
                              <h4>Nested Headers</h4>
                              <p>Allows the creation of a multi-level, nested structure of the column headers.</p>
                            </li>
                            <li id="feature-desc-collapsible-columns" aria-hidden="true">
                              <h4>Collapsible Columns</h4>
                              <p>Enables the visual collapse and expansion of specific columns. It works together with the Nested Headers plugin.</p>
                            </li>
                            <li id="feature-desc-trim-rows" aria-hidden="true">
                              <h4>Trim Rows</h4>
                              <p>Enables the skipping of specific rows while rendering the table.</p>
                            </li>
                            <li id="feature-noop">No features enabled.</li>
                        </ol>
                    </section>
                    <section id="tab-content-code" role="tabpanel" aria-hidden="true" class="content">
                      <pre><code class="language-html"></code></pre>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="row get-started">
        <h2 class="text-center size-large">Create awesome apps<br/>
            <span>Don't waste your time re-inventing the wheel.</span>
        </h2>
        <div class="large-6 columns large-centered text-center">
            <a href="/download" class="btn size-large bg-green bg-lighten hover-moveup text-white shadow">Try it now</a>
            <a href="/features"
               class="btn size-large bg-blue bg-lighten hover-moveup text-white shadow">See features</a>
        </div>
    </div>

</section>

<!-- <script src="/static/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script> -->
<script data-jsfiddle>
var dataObject = [
  {
    id: 1,
    flag: 'EUR',
    currencyCode: 'EUR',
    currency: 'Euro',
    level: 0.9033,
    units: 'EUR / USD',
    asOf: '08/19/2015',
    onedChng: 0.0026
  },
  {
    id: 2,
    flag: 'JPY',
    currencyCode: 'JPY',
    currency: 'Japanese Yen',
    level: 124.3870,
    units: 'JPY / USD',
    asOf: '08/19/2015',
    onedChng: 0.0001
  },
  {
    id: 3,
    flag: 'GBP',
    currencyCode: 'GBP',
    currency: 'Pound Sterling',
    level: 0.6396,
    units: 'GBP / USD',
    asOf: '08/19/2015',
    onedChng: 0.00
  },
  {
    id: 4,
    flag: 'CHF',
    currencyCode: 'CHF',
    currency: 'Swiss Franc',
    level: 0.9775,
    units: 'CHF / USD',
    asOf: '08/19/2015',
    onedChng: 0.0008
  },
  {
    id: 5,
    flag: 'CAD',
    currencyCode: 'CAD',
    currency: 'Canadian Dollar',
    level: 1.3097,
    units: 'CAD / USD',
    asOf: '08/19/2015',
    onedChng: -0.0005
  },
  {
    id: 6,
    flag: 'AUD',
    currencyCode: 'AUD',
    currency: 'Australian Dollar',
    level: 1.3589,
    units: 'AUD / USD',
    asOf: '08/19/2015',
    onedChng: 0.0020
  },
  {
    id: 7,
    flag: 'NZD',
    currencyCode: 'NZD',
    currency: 'New Zealand Dollar',
    level: 1.5218,
    units: 'NZD / USD',
    asOf: '08/19/2015',
    onedChng: -0.0036
  },
  {
    id: 8,
    flag: 'SEK',
    currencyCode: 'SEK',
    currency: 'Swedish Krona',
    level: 8.5280,
    units: 'SEK / USD',
    asOf: '08/19/2015',
    onedChng: 0.0016
  },
  {
    id: 9,
    flag: 'NOK',
    currencyCode: 'NOK',
    currency: 'Norwegian Krone',
    level: 8.2433,
    units: 'NOK / USD',
    asOf: '08/19/2015',
    onedChng: 0.0008
  },
  {
    id: 10,
    flag: 'BRL',
    currencyCode: 'BRL',
    currency: 'Brazilian Real',
    level: 3.4806,
    units: 'BRL / USD',
    asOf: '08/19/2015',
    onedChng: -0.0009
  },
  {
    id: 11,
    flag: 'CNY',
    currencyCode: 'CNY',
    currency: 'Chinese Yuan',
    level: 6.3961,
    units: 'CNY / USD',
    asOf: '08/19/2015',
    onedChng: 0.0004
  },
  {
    id: 12,
    flag: 'RUB',
    currencyCode: 'RUB',
    currency: 'Russian Rouble',
    level: 65.5980,
    units: 'RUB / USD',
    asOf: '08/19/2015',
    onedChng: 0.0059
  },
  {
    id: 13,
    flag: 'INR',
    currencyCode: 'INR',
    currency: 'Indian Rupee',
    level: 65.3724,
    units: 'INR / USD',
    asOf: '08/19/2015',
    onedChng: 0.0026
  },
  {
    id: 14,
    flag: 'TRY',
    currencyCode: 'TRY',
    currency: 'New Turkish Lira',
    level: 2.8689,
    units: 'TRY / USD',
    asOf: '08/19/2015',
    onedChng: 0.0092
  },
  {
    id: 15,
    flag: 'THB',
    currencyCode: 'THB',
    currency: 'Thai Baht',
    level: 35.5029,
    units: 'THB / USD',
    asOf: '08/19/2015',
    onedChng: 0.0044
  },
  {
    id: 16,
    flag: 'IDR',
    currencyCode: 'IDR',
    currency: 'Indonesian Rupiah',
    level: 13.83,
    units: 'IDR / USD',
    asOf: '08/19/2015',
    onedChng: -0.0009
  },
  {
    id: 17,
    flag: 'MYR',
    currencyCode: 'MYR',
    currency: 'Malaysian Ringgit',
    level: 4.0949,
    units: 'MYR / USD',
    asOf: '08/19/2015',
    onedChng: 0.0010
  },
  {
    id: 18,
    flag: 'MXN',
    currencyCode: 'MXN',
    currency: 'Mexican New Peso',
    level: 16.4309,
    units: 'MXN / USD',
    asOf: '08/19/2015',
    onedChng: 0.0017
  },
  {
    id: 19,
    flag: 'ARS',
    currencyCode: 'ARS',
    currency: 'Argentinian Peso',
    level: 9.2534,
    units: 'ARS / USD',
    asOf: '08/19/2015',
    onedChng: 0.0011
  },
  {
    id: 20,
    flag: 'DKK',
    currencyCode: 'DKK',
    currency: 'Danish Krone',
    level: 6.7417,
    units: 'DKK / USD',
    asOf: '08/19/2015',
    onedChng: 0.0025
  },
  {
    id: 21,
    flag: 'ILS',
    currencyCode: 'ILS',
    currency: 'Israeli New Sheqel',
    level: 3.8262,
    units: 'ILS / USD',
    asOf: '08/19/2015',
    onedChng: 0.0084
  },
  {
    id: 22,
    flag: 'PHP',
    currencyCode: 'PHP',
    currency: 'Philippine Peso',
    level: 46.3108,
    units: 'PHP / USD',
    asOf: '08/19/2015',
    onedChng: 0.0012
  }
];

var currencyCodes = ['EUR', 'JPY', 'GBP', 'CHF', 'CAD', 'AUD', 'NZD', 'SEK', 'NOK', 'BRL', 'CNY', 'RUB', 'INR', 'TRY', 'THB', 'IDR', 'MYR', 'MXN', 'ARS', 'DKK', 'ILS', 'PHP'];

var flagRenderer = function (instance, td, row, col, prop, value, cellProperties) {
  var currencyCode = value;

  while (td.firstChild) {
    td.removeChild(td.firstChild);
  }

  if (currencyCodes.indexOf(currencyCode) > -1) {
    var flagElement = document.createElement('DIV');
    
    flagElement.className = 'flag ' + currencyCode.toLowerCase();
    td.appendChild(flagElement);

  } else {
    var textNode = document.createTextNode(value === null ? '' : value);
    
    td.appendChild(textNode);
  }
};

var hotElement = document.querySelector('#hot');
var hotElementContainer = hotElement.parentNode;
var hotSettings = {
  data: dataObject,
  columns: [
    {
      data: 'id',
      type: 'numeric',
      width: 40
    },
    {
      data: 'flag',
      renderer: flagRenderer
    },
    {
      data: 'currencyCode',
      type: 'text'
    },
    {
      data: 'currency',
      type: 'text'
    },
    {
      data: 'level',
      type: 'numeric',
      numericFormat: {
        pattern: '0.0000'
      }
    },
    {
      data: 'units',
      type: 'text'
    },
    {
      data: 'asOf',
      type: 'date',
      dateFormat: 'MM/DD/YYYY'
    },
    {
      data: 'onedChng',
      type: 'numeric',
      numericFormat: {
        pattern: '0.00%'
      }
    }
  ],
  stretchH: 'all',
  width: parseInt(hotElementContainer.offsetWidth, 10),
  autoWrapRow: true,
  height: 487,
  maxRows: 22
};
</script>