<section class="features">
    <div class="main-background">
        <div class="row">
            <div class="large-12 large-centered columns text-center">
                <h1 class="text-white size-large gap-top-medium">
                    Spreadsheet data management<br/>
                    for your business web apps
                </h1>
                <img class="table-pad gap-top-small"
                     src="<%= static_path %>/resources/ModFeatures/features-spreadsheet-demo.png"
                     alt="Handsontable - Java Script spreadsheet library for developers">
            </div>
        </div>
    </div>
    <%- partial("_partials/_brands") %>
    <div class="row fast">
        <h2 class="text-center size-large gap-top-xsmall gap-bottom-xsmall">
            Fast and easy development
        </h2>

        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#multiple-frameworks"></use>
            </svg>
            <h3>Multiple frameworks</h3>
            <p class="p-icon">Handsontable is available in a variety of technologies,
                including React, Angular, Polymer, Vue.js and includes a TypeScript definition file.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#data-security"></use>
            </svg>
            <h3>Data security</h3>
            <p class="p-icon">Handsontable lets you keep all your business
                data on your own servers. Bind any given
                data source by just passing data in a JSON format.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#easy-to-learn"></use>
            </svg>
            <h3>Easy to learn</h3>
            <p class="p-icon">You can literally start your project within
                minutes, not hours. Use cascade configuration
                to adjust Handsontable to your business requirements.</p>
        </div>
    </div>

    <div class="row fast">
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#cross-browser"></use>
            </svg>
            <h3>Cross-browser</h3>
            <p class="p-icon">Handsontable works best in all modern browsers,
                but also has backward compatibility for IE9+.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#high-performance"></use>
            </svg>
            <h3>High performance</h3>
            <p class="p-icon">Handle hundreds of thousands of cells with peak performance.
                Search, sort, or filter data without any delay.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <svg class="svg-icon">
                <use xlink:href="#support-included"></use>
            </svg>
            <h3>Support included</h3>
            <p class="p-icon">A large community of developers contribute to this project.
                And professional support is available for all Handsontable Pro customers.</p>
        </div>
    </div>

    <div class="row simple large-collapse">
        <h2 class="text-center size-large gap-top-small gap-bottom-xsmall">
            Simple and familiar UI
        </h2>
        <div class="large-5 columns">
            <div class="tabs tabs-code">
                <div class="tab">
                    <ul>
                        <li id="tab-source" class="active">Code editor</li>
                        <li id="tab-data">Data</li>
                    </ul>
                </div>
                <div id="tab-content-source" class="active">
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <div class="code-holder" data-type="source"></div>
                            <script data-source-type="source" type="text/handsontable">
var data = getData();
var rowsCount = data.length;

var hot = new Handsontable(document.getElementById('example'), {
  data: data,
  width: 800,
  height: 456,
  colWidths: 100,
  minCols: 26,
  minRows: 100,
  rowHeaders: true,
  colHeaders: [
    'Task',
    'Owner',
    'Team',
    'Status',
    'Start date',
    'End date',
    'At risk',
    '% complete'
  ],
  columnSorting: true,
  filters: true,
  dropdownMenu: true,
  contextMenu: true,
  autoRowSize: true,
  manualRowMove: true,
  manualColumnMove: true,
  fillHandle: {
    autoInsertRow: false,
  },
  cells: function(row, column) {
    var cellMeta = {};
    
    if (row >= rowsCount) {
      return cellMeta;
    }
    
    if (column === 1) {
      cellMeta.type = 'dropdown';
      cellMeta.source = [
        'Ben', 
        'Chris', 
        'Jessica', 
        'Kate', 
        'Michael', 
        'Monica', 
        'Omar', 
        'Paul',
        'Samuel', 
      ];
      
    } else if (column === 2) {
      cellMeta.readOnly = true;
      cellMeta.renderer = function(hotInstance, TD, row, col, prop, value, cellProperties) {
        var owner = hotInstance.getDataAtCell(row, 1);
        var ownerTeam = getOwnerTeam(owner);
        var colors = {
          Red: '#e87677',
          Green: '#66e100',
          Blue: '#00a7fe',
          Purple: '#6623e2',
          Orange: '#ffad24',
          Yellow: '#ffe300',
        };
        
        TD.style.color = colors[ownerTeam];
        TD.textContent = ownerTeam;
      };
      
    } else if (column === 3) {
      cellMeta.type = 'dropdown';
      cellMeta.source = [
        'New', 
        'Accepted', 
        'Rejected',
        'In progress', 
        'Completed', 
      ];
      
    } else if (column === 4 || column === 5) {
      cellMeta.type = 'date';
      cellMeta.dateFormat = 'DD/MM/YYYY';
      
    } else if (column === 6) {
      cellMeta.type = 'checkbox';
      cellMeta.className = 'htCenter';
      
    } else if (column === 7) {
      cellMeta.width = 110;
      cellMeta.renderer = function(hotInstance, TD, row, col, prop, value, cellProperties) {
        var progressBar = document.createElement('progress');
        
        value = parseInt(value, 10);
        
        progressBar.max = 100;
        progressBar.value = isNaN(value) ? 0 : value;
        
        TD.textContent = '';
        TD.appendChild(progressBar);
      };
    }
    
    return cellMeta;
  }
});

function getOwnerTeam(owner) {
  var teamOwners = {
    Red: ['Michael', 'Ben'],
    Green: ['Omar', 'Samuel'],
    Blue: ['Kate', 'Monica'],
    Purple: ['Chris'],
    Orange: ['Paul'],
    Yellow: ['Jessica'],
  };
  
  return Object.keys(teamOwners).reduce(function(acc, team) {
    return teamOwners[team].indexOf(owner) !== -1 ? team : acc;
  }, null);
}
                            </script>
                            <script data-source-type="data" type="text/handsontable">
function getData() {
  return [
    [
      'Task 33', 
      'Michael', 
      '', 
      'New', 
      '', 
      '', 
      false, 
      0
    ],
    [
      'Task 12', 
      'Samuel', 
      '', 
      'New', 
      '', 
      '', 
      false, 
      0
    ],
    [
      'Task 96', 
      'Kate', 
      '', 
      'Accepted', 
      '', 
      '', 
      false, 
      0
    ],
    [
      'Task 16', 
      'Chris', 
      '', 
      'Accepted', 
      '', 
      '', 
      false, 
      0
    ],
    [
      'Task 19', 
      'Samuel', 
      '', 
      'In progress', 
      '24/01/2017', 
      '15/05/2017', 
      false, 
      0
    ],
    [
      'Task 29', 
      'Omar', 
      '', 
      'In progress', 
      '24/01/2017', 
      '13/06/2017', 
      true, 
      10
    ],
    [
      'Task 92', 
      'Ben', 
      '', 
      'In progress', 
      '26/01/2017', 
      '20/04/2017', 
      false, 
      40
    ],
    [
      'Task 02', 
      'Omar', 
      '', 
      'In progress', 
      '26/01/2017', 
      '05/02/2017', 
      false, 
      50
    ],
    [
      'Task 88', 
      'Monica', 
      '', 
      'In progress', 
      '26/01/2017', 
      '15/02/2017', 
      false, 
      70
    ],
    [
      'Task 89', 
      'Samuel', 
      '', 
      'In progress', 
      '01/02/2017', 
      '07/03/2017', 
      false, 
      40
    ],
    [
      'Task 26', 
      'Paul', 
      '', 
      'In progress', 
      '01/02/2017', 
      '22/04/2017', 
      true, 
      20
    ],
    [
      'Task 56', 
      'Jessica', 
      '', 
      'In progress', 
      '01/02/2017', 
      '11/05/2017', 
      true, 
      30
    ],
    [
      'Task 06', 
      'Michael', 
      '', 
      'In progress', 
      '01/02/2017', 
      '06/06/2017', 
      true, 
      7
    ],
    [
      'Task 01', 
      'Chris', 
      '', 
      'Completed', 
      '05/02/2017', 
      '12/02/2017', 
      false, 
      100
    ],
    [
      'Task 09', 
      'Samuel', 
      '', 
      'Completed', 
      '06/02/2017', 
      '20/02/2017', 
      false, 
      100
    ],
    [
      'Task 14', 
      'Michael', 
      '', 
      'Completed', 
      '06/02/2017', 
      '30/03/2017', 
      false, 
      100
    ],
    [
      'Task 20', 
      'Paul', 
      '', 
      'Completed', 
      '07/02/2017', 
      '09/02/2017', 
      false, 
      100
    ],
    [
      'Task 04', 
      'Ben', 
      '', 
      'Completed', 
      '08/02/2017', 
      '04/04/2017', 
      false, 
      100
    ],
    [
      'Task 33', 
      'Samuel', 
      '', 
      'Rejected', 
      '', 
      '', 
      false, 
      0
    ],
    [
      'Task 79', 
      'Kate', 
      '', 
      'Rejected', 
      '', 
      '', 
      false, 
      0
    ],
  ];
};
                            </script>
                        </div>
                    </div>
                </div>
                <div id="tab-content-data" data-tab-forward="source"></div>
            </div>
        </div>
        <div class="large-7 columns">
            <div class="plugin-preview">
                <div id="example"></div>
                <div id="example-error">An error was cought (<span></span>).</div>
            </div>
        </div>
    </div>

    <div class="row testimony">
        <div class="medium-2 columns text-center">
            <img src="<%= img_path %>testimony/david_wolever.jpg" alt="David Wolever"/>
        </div>
        <div class="medium-10 columns">
            <blockquote>
                "Handsontable was a perfect fit because it looks and feels just like Excel,
                a tool teachers are already familiar with."
            </blockquote>
            <h5>David Wolever, CTO at <a href="http://akindi.com" target="_blank">Akindi</a></h5>
        </div>
    </div>

    <div class="all-features stripe-gray">
        <div class="row">
            <h2 class="text-center size-large gap-bottom-xsmall">
                All features
            </h2>
            <div class="columns">
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
                    <li>
                        <h4 class="size-small">Most popular</h4>
                        <ul>
                            <li><a href="//docs.handsontable.com/demo-drag-down.html">Drag-down</a></li>
                            <li><a href="//docs.handsontable.com/CopyPaste.html">Copy-paste</a></li>
                            <li><a href="//docs.handsontable.com/UndoRedo.html">Undo-redo</a></li>
                            <li><a href="//docs.handsontable.com/demo-sorting.html">Sorting</a></li>
                            <li><a href="//docs.handsontable.com/demo-data-validation.html">Data validation</a></li>
                            <li><a href="//docs.handsontable.com/demo-conditional-formatting.html">Conditional
                                    formatting</a></li>
                            <li><a href="//docs.handsontable.com/tutorial-keyboard-navigation.html">Keyboard shortcuts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="size-small">Community Edition</h4>
                        <ul>
                            <li><a href="//docs.handsontable.com/demo-fixing.html">Fixed rows / columns</a></li>
                            <li><a href="//docs.handsontable.com/tutorial-cell-types.html">Various cell types</a></li>
                            <li><a href="//docs.handsontable.com/demo-context-menu.html">Context menu</a></li>
                            <li><a href="//docs.handsontable.com/demo-alignment.html">Alignment</a></li>
                            <li><a href="//docs.handsontable.com/demo-moving.html">Moving rows / columns</a></li>
                            <li><a href="//docs.handsontable.com/demo-resizing.html">Resizing rows / columns</a></li>
                            <li><a href="//docs.handsontable.com/demo-merged-cells.html">Merged cells</a></li>
                            <li><a href="//docs.handsontable.com/demo-comments_.html">Comments</a></li>
                            <li><a href="//docs.handsontable.com/demo-stretching.html">Stretching</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="size-small">Handsontable Pro</h4>
                        <ul>
                            <li><a href="//docs.handsontable.com/pro/demo-filtering.html">Filtering</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-export-file.html">Export to file</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-dropdown-menu.html">Dropdown menu</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-nested-headers.html">Nested headers</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-collapsing-columns.html">Collapsing columns</a>
                            </li>
                            <li><a href="//docs.handsontable.com/pro/demo-hiding-rows.html">Hiding rows</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-hiding-columns.html">Hiding columns</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-trimming-rows.html">Trimming rows</a></li>
                            <li><a href="//docs.handsontable.com/pro/Options.html#columnSummary">Column summary</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-header-tooltips.html">Header tooltips</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-bind-rows-headers.html">Binding rows with
                                    headers</a></li>
                            <li><a href="//docs.handsontable.com/pro/demo-formula-support.html">Formulas</a>
                                <sup>alpha</sup></li>
                            <li><a href="//docs.handsontable.com/pro/demo-gantt-chart.html">Gantt Chart</a> <sup>beta</sup>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="size-small">Advanced options</h4>
                        <ul>
                            <li><a href="//docs.handsontable.com/tutorial-performance-tips.html">Handling big data</a></li>
                            <li><a href="//docs.handsontable.com/demo-custom-renderers.html">Custom renderers</a></li>
                            <li><a href="//docs.handsontable.com/demo-custom-buttons.html">Custom buttons</a></li>
                            <li><a href="//docs.handsontable.com/demo-customizing-borders.html">Custom borders</a></li>
                            <li><a href="//docs.handsontable.com/tutorial-custom-plugin.html">Custom plugins</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4 class="size-small">Wrappers</h4>
                        <ul>
                            <li><a href="https://github.com/handsontable/react-handsontable" target="_blank">React</a></li>
                            <li><a href="https://github.com/handsontable/vue-handsontable-official" target="_blank">Vue.js</a></li>
                            <li><a href="https://github.com/handsontable/angular-handsontable" target="_blank">Angular</a>
                            </li>
                            <li><a href="https://github.com/handsontable/ngHandsontable" target="_blank">AngularJS</a></li>
                            <li><a href="https://github.com/handsontable/hot-table" target="_blank">Polymer</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="plans gap-top-xsmall">
        <div class="ce-background-green">
            <div class="holder">
                <h1>Handsontable CE</h1>
                <h4>Open Source</h4>
            </div>
            <div class="product-button-ce">
                <a href="/community-download.html"
                   class="btn size-medium bg-white text-blue hover-moveup shadow gap-top-xsmall">Download</a>
            </div>
        </div>
        <div class="pro-background-blue">
            <div class="holder">
                <h1>Handsontable Pro</h1>
                <h4>All the features your business needs</h4>
            </div>
            <div class="product-button-pro">
                <a href="/pro-download.html"
                   class="btn size-medium bg-white text-blue hover-moveup shadow gap-top-xsmall">Download</a>
            </div>

        </div>
    </div>
</section>