<section class="frontpage">
    <div class="header-background">
        <div class="row top-banner">
            <div class="small-12 large-5 columns">
                <h1>
                    <strong>JavaScript Spreadsheet</strong>
                    <br/>
                    <span>UI Component for Developers</span>
                </h1>
                <h2>Fast, secure and reliable solution <br/>for critical business processes.</h2>
                <a href="/features.html" class="btn size-large bg-white text-blue shadow hover-moveup">Learn more</a>
            </div>
            <div class="small-12 large-5 columns text-center">
                [artwork]
            </div>
        </div>
    </div>

    <div class="stripe-brands stripe-gray">
        <%- partial("_partials/_brands_frontpage") %>
    </div>

    <div class="row highlights">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h2>Spreadsheet experience</h2>
                <p>Handsontable is a JavaScript component providing a familiar spreadsheet experience
                    in a browser.</p>
                </h2>
                <div class="benefits-testimonial">
                    <img src=" ">
                    <p>„Handsontable had the greatest documentation, and an impressive feature set”</p>
                    <p>Alain Escaffre, VP at Nuxeo</p>
                </div>
            </div>
            <div class="small-12 medium-6 columns text-center">
                [artwork]
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 columns">
                [artwork]
            </div>
            <div class="small-12 medium-6 columns">
                <h2>Powerful features</h2>
                <p>Handsontable is a JavaScript component providing a familiar spreadsheet experience in a browser.
                    Large companies and startups use Handsontable to build internal business applications which
                    are easy to learn and use.</p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 columns">
                <h2>Powerful features</h2>
                <p>Handsontable is a JavaScript component providing a familiar spreadsheet experience in a browser.
                    Large companies and startups use Handsontable to build internal business applications which
                    are easy to learn and use.</p>
            </div>
            <div class="small-12 medium-6 columns text-center">
                [artwork]
            </div>
        </div>
    </div>

    <div class="testimony">
        <div class="row">
            <h2>What our customers say
                <br/>
                <p>Various industries benefit from using Handsontable in core component of their business apps.</p>
            </h2>
            <div class="small-12 medium-4 columns">
                <div class="bubble">
                    <p>„Handsontable was a perfect fit because it looks and feels just like Excel, a tool
                        teachers are already familiar with.”</p>
                    <div class="profile">
                        <img src="<%= img_path %>template/ModCustomers/akindi/akindi-avatar.png" alt="David Wolever" />
                        <p>
                            <strong>David Wolever</strong>
                            <br/>
                            <span>Ontario, Canada</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="small-12 medium-4 columns">
                <div class="bubble">
                    <p>„Handsontable was a perfect fit because it looks and feels just like Excel, a tool
                        teachers are already familiar with.”</p>
                    <div class="profile">
                        <img src="<%= img_path %>template/ModCustomers/akindi/akindi-avatar.png" alt="David Wolever" />
                        <p>
                            <strong>David Wolever</strong>
                            <br/>
                            <span>Ontario, Canada</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="small-12 medium-4 columns">
                <div class="bubble">
                    <p>„Handsontable was a perfect fit because it looks and feels just like Excel, a tool
                        teachers are already familiar with.”</p>
                    <div class="profile">
                        <img src="<%= img_path %>template/ModCustomers/akindi/akindi-avatar.png" alt="David Wolever" />
                        <p>
                            <strong>David Wolever</strong>
                            <br/>
                            <span>Ontario, Canada</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row open-source">
        <h2 class="text-center">Open source at heart
            <br/>
            <p>We are proud to be a part of community actively contributing to the development of Handsontable.</p>
        </h2>

        <div class="row">
            <div class="large-6 columns text-center">
                [artwork]
            </div>
            <div class="large-6 columns">
                <p>Handsontable was first published on GitHub in 2012 and since it gained a popularity among developers
                    interested in enriching their apps with spreadsheet capabilities.</p>
                <p>We are proud to continue this work during which we have learned more than anyone of us could
                    expected.</p>
                <a href="//github.com/handsontable/handsontable" target="_blank">Visit GitHub repository</a>
            </div>
        </div>
    </div>

    <div class="row get-started">
        <h2>Ready to get started</h2>
        <div class="large-6 columns large-centered text-center">
            <a href="/download.html" class="btn large green">Download</a>
            <a href="//docs.handsontable.com/pro/demo-scrolling.html" class="btn large blue">See examples</a>
        </div>
    </div>
</section>