<section class="knowledge-base gap-bottom-small">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small">Knowledge base<br/>
                <span>Find answers to the most popular questions</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-5 columns">
            <h3>About products</h3>
            <div class="answers">
                <h4><a href="#">What is Handsontable?</a></h4>
                <div>
                    <div>
                        <p>Handsontable is a UI spreadsheet component for web apps.
                            It is written in a pure JavaScript. It also supports all the modern
                            frameworks such as React, Angular or Vue.js.
                        </p>
                    </div>
                </div>
                <h4><a href="#">What is the difference between Handsontable CE and Pro?</a></h4>
                <div>
                    <div>
                        <p>Handsontable Community Edition (CE) is an open source software released under the MIT license.
                            Handsontable Pro on the other hand, comes with a commercial license and contains
                            additional features such as filters, dropdown menu or nested headers.
                            A maintenance and support plan is free during the first year after the initial
                            purchase of the license.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Can I use Handsontable CE to build commercial products?</a></h4>
                <div>
                    <div>
                        <p>Handsontable CE is released under the MIT license which
                            allows you to use it both for commercial and non-commercial products.
                            <a href="//choosealicense.com/licenses/mit/" target="_blank">Read more</a>
                            to learn about the MIT license.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Which browsers are supported?</a></h4>
                <div>
                    <div>
                        <p>Handsontable is compatible with all
                            the modern browsers including Chrome, Firefox, Opera, Safari, Internet Explorer
                            9+ and Edge.</p>
                    </div>
                </div>
                <h4><a href="#">Which devices are supported?</a></h4>
                <div>
                    <div>
                        <p>Handsontable works on all desktop devices, whereas on mobile devices you can
                            only display, edit and navigate across the spreadsheet.</p>
                    </div>
                </div>
                <h4><a href="#">Which frameworks are supported?</a></h4>
                <div>
                    <div>
                        <p>Handsontable has its official wrappers for modern frameworks such as
                            React, Angular and Vue.js. There is also a TypeScript definitions file available for your
                            strongly-typed code.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Technical support</h3>
            <div class="answers">
                <h4><a href="#">Where do I report an issue?</a></h4>
                <div>
                    <div>
                        <p>
                            If you purchased a commercial license then your primary support channel is through
                            an email address:
                            <a href="mailto:support@handsontable.com" target="_blank">support@handsontable.com</a>.
                            Alternatively, you can report your problem
                            using a
                            <a href="/contact.html?category=technical_support">contact form</a>
                            or adding a new post on <a href="//forum.handsontable.com" target="_blank">
                                developers' forum</a>.
                            <br/><br/>
                            All the problems found in Handsontable CE should be reported on
                            <a href="//github.com/handsontable/handsontable/issues" target="_blank">GitHub</a>
                            or <a href="//stackoverflow.com/tags/handsontable" target="_blank">StackOverflow</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Is a support included in the license?</a></h4>
                <div>
                    <div>
                        <p>With the purchase of a new license you get a free maintenance and support for one year.
                            Within this period you can download major, minor and patch versions of new Handsontable Pro
                            releases for free.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Do you provide a phone support?</a></h4>
                <div>
                    <div>
                        <p>We offer phone support within the Developer Plus plan.
                            For all other plans this service is paid additionally.</p>
                    </div>
                </div>
                <h4><a href="#">How do I download and install the code?</a></h4>
                <div>
                    <div>
                        <p>Go to <a href="/download.html">download page</a> and follow the instructions
                            on installing both Handsontable CE and Pro.
                        </p>
                    </div>
                </div>
                <h4><a href="#">How do I install the license key?</a></h4>
                <div>
                    <div>
                        <p>Go to <a href="//my.handsontable.com">your account</a> and find your license on the
                            list of orders. The license key is provided in the first column of the table
                            or when you enter the page with license's detail information.
                        </p>
                        <p>You need to pass a license key in the configuration code of Handsontable Pro,
                        like in the following example:</p>
                        <p>
                            <strong>licenseKey: 00000-00000-00000-00000-00000</strong>
                        </p>
                        <p>If something goes wrong or you stumble across issues when installing
                            the code, do not hesitate to contact our
                            <a href="/contact.html?category=technical_support">Support Team</a>.</p>
                    </div>
                </div>
                <h4><a href="#">Do you offer professional consulting on demand?</a></h4>
                <div>
                    <div>
                        <p>Our services include building business applications from scratch,
                            integrating Handsontable with existing solutions,
                            optimizing the code and making MVPs.
                            <a href="/contact.html?category=business_opportunity">Contact us</a>
                            to find out how we can help your organization.
                        </p>
                    </div>
                </div>
                <h4><a href="#">What is your hourly rate?</a></h4>
                <div>
                    <div>
                        <p>Our regular hourly rate is 70 USD. It might be changed in the course of time.</p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Your account</h3>
            <div class="answers">
                <h4><a href="#">Where do I change my password?</a></h4>
                <div>
                    <div>
                        <p>In order to change your password you need to sign in to your account and
                            go to the <a href="//my.handsontable.com/account-change-password.html">
                                settings page</a>.
                    </div>
                </div>
                <h4><a href="#">How do I change my email address?</a></h4>
                <div>
                    <div>
                        <p>As your email address may be assigned to the active license, currently there is no
                            way to change it other than contact our
                            <a href="/contact.html?category=technical_support">Support Team</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#">How to transfer my license to another account?</a></h4>
                <div>
                    <div>
                        <p>In order to transfer your license, please contact our
                            <a href="/contact.html?category=technical_support">Support Team</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#">How to remove my account?</a></h4>
                <div>
                    <div>
                        <p>
                            In order to delete your account contact our
                            <a href="/contact.html?category=technical_support">Support Team</a>.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Renewals</h3>
            <div class="answers">
                <h4><a href="#">Is it required to renew the support plan?</a></h4>
                <div>
                    <div>
                        <p>
                            All of the licenses are perpetual and grant you a right to use
                            them as long as you want. However, if you want to receive updates and support after your
                            plan expires, you can optionally renew it. Go to
                            <a href="/pricing.html">pricing page</a> for more details.
                        </p>
                    </div>
                </div>
                <h4><a href="#">How can I renew the support plan?</a></h4>
                <div>
                    <div>
                        <p>
                            In order to renew your plan you need to sign in to your account and
                            find an expiring product on the list of your orders. Then you need to click on
                            "Proceed with renewal" to begin the renewal process.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Do I need to replace the license key after
                        renewing a support plan?</a></h4>
                <div>
                    <div>
                        <p>
                            After renewing the maintenance plan, a new license key is generated. You need to
                            pass it correctly in the configuration code, like in the following example:
                        </p>
                        <p><strong>licenseKey: 00000-00000-00000-00000-00000</strong></p>
                        <p>
                            A new license key can be obtained at <a href="//my.handsonable.com">your account</a>
                            but will also be sent to you by email.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-5 columns">
            <h3>Purchasing - Handsontable Pro</h3>
            <div class="answers">
                <h4><a href="#">Who stands behind this product?</a></h4>
                <div>
                    <div>
                        <p>Both license and a support are provided by a limited liability company based in Poland:<br/>
                            Handsoncode sp. z o.o.<br/>
                            Aleja Zwycięstwa 96/98<br/>
                            81-451 Gdynia, Poland<br/>
                            VAT EU: PL5862294002</p>
                    </div>
                </div>
                <h4><a href="#">Can I get an official quote?</a></h4>
                <div>
                    <div>
                        <p>In order to receive an official quote contact our
                            <a href="/contact.html?category=request_for_quotation">Sales Team</a>.</p>
                    </div>
                </div>
                <h4><a href="#">Do you accept purchase orders?</a></h4>
                <div>
                    <div>
                        <p>
                            Send over your purchase order to
                            <a href="mailto:sales@handsontable.com">sales@handsontable.com</a>. It should
                            contain information such as Company details, Order details and, if applicable,
                            organization's VAT EU number.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Can I buy a license on someone's behalf?</a></h4>
                <div>
                    <div>
                        <p>If you are authorized to buy the license feel free to do so. Please be sure to fill
                            in all necessary data to get a proper invoice. Also, please hand on login details
                            to the account at
                            <a href="https://my.handsontable.com/sign-up.html">my.handsontable.com</a>
                            to its owner after the purchase.</p>
                    </div>
                </div>
                <h4><a href="#">Which payment methods do you accept?</a></h4>
                <div>
                    <div>
                        <p>You can buy a license through our payment gateway provider, the US-based
                            FastSpring company
                            using your credit card (Visa, MasterCard, Amex, Discover and JCB) or a PayPal
                            account. If you want to send us the money via bank wire transfer, please
                            contact our <a href="/contact.html">Sales Team</a>.
                            <br/><br/>
                            We do not accept checks.
                        </p>
                    </div>
                </div>
                <h4><a href="#">What currencies do you accept?</a></h4>
                <div>
                    <div>
                        <p>For a bank wire transfer/PayPal: USD, EUR, GBP, PLN.<br/>
                            For credit card, PayPal (via FastSpring): USD, EUR, GBP, AUD, CAD, CHF, JPY, PLN.</p>
                    </div>
                </div>
                <h4><a href="#">Do you offer discounts?</a></h4>
                <div>
                    <div>
                        <p>Yes, we offer following types of discounts:</p>
                        <p><strong>Volume discounts</strong></p>
                        <p>The discount depends on how many licenses do you buy in a single transaction:</p>
                        <ul>
                            <li>5-9 - 10%</li>
                            <li>10 - 15%</li>
                            <li>10+ - contact us</li>
                        </ul>
                        <p><strong>Startup Discount (50%)</strong></p>
                        <p>We know how it is to be an underdog, so we are happy to help your company
                            grow. To apply for 50% discount you need to meet just a few requirements:</p>
                        <ul>
                            <li>Your startup must be privately held,</li>
                            <li>You need to have your own, public website,</li>
                            <li>Your startup doesn't exist for more than 3 years.</li>
                        </ul>
                        <p>Contact our <a href="/contact.html?category=request_for_discount">Sales Team</a>
                            to obtain a new license of Handsontable Pro for your awesome project!</p>
                        <p><strong>Student License (Free of charge)</strong></p>
                        <p>If you want to use Handsontable Pro in your education project or a private side-project,
                            we would love to give you our library for free. Your project might
                            be commercial as long as it does not require you to start your own company.
                            Contact us so we can talk this through.</p>
                        <p><strong>Teacher License (Free of charge)</strong></p>
                        <p>If you are going to use Handsontable Pro in your class or for training purposes
                            then this component is free of charge. Contact us and tell a bit more about
                            your project.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Do you collect credit card information?</a></h4>
                <div>
                    <div>
                        <p>We do not save nor process your credit card details. Our payment gateway
                            provider, FastSpring, does it for us.</p>
                    </div>
                </div>
                <h4><a href="#">Does the price include tax?</a></h4>
                <div>
                    <div>
                        <p>Tax is calculated accordingly to the law of a country or countries community
                            chosen by buyer in a purchase form, and all the prices are net.</p>
                    </div>
                </div>
                <h4><a href="#">How can I get an invoice for my purchase?</a></h4>
                <div>
                    <div>
                        <p>Depending on how you bought the license you will either receive an invoice automatically
                            from FastSpring (our payment gateway provider),
                            or, in case our ordered the license directly from us, you will receive an invoice
                            from our <a href="/contact.html">Sales Team</a>. A paper copy of an electronic
                            invoice can be send upon request.
                        </p>
                    </div>
                </div>
                <h4><a href="#">I haven't received the confirmation of the purchase.</a></h4>
                <div>
                    <div>
                        <p>After purchase you should receive an email with a confirmation details and an invoice.
                            If you haven't received it, please check your spam folder first. In case it is not there,
                            please contact our <a href="/contact.html">Sales Team</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#">Do you offer refunds?</a></h4>
                <div>
                    <div>
                        <p>We offer a quality pre-sale experience and this is why we provide an evaluation version of
                            Handsontable Pro which allows you to try the product for unlimited time.
                            Before buying a license please make
                            sure it meets your requirements, as we don't offer a refund once the purchase
                            has been made.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Licensing - Handsontable Pro</h3>
            <div class="answers">
                <h4><a href="#">How do you define a developer?</a></h4>
                <div>
                    <div>
                        <p>A developer is every person in your organization working directly with Handsontable Pro source
                            code. It includes implementing, integrating and altering the code.</p>
                    </div>
                </div>

                <h4><a href="#">What is included in the license?</a></h4>
                <div>
                    <div>
                        <p>Handsontable Pro license grants you a nonexclusive,
                            lifelong right to install and use the software. It comes with following benefits:
                        </p>
                        <ul>
                            <li>All premium features,</li>
                            <li>A right to edit the source code,</li>
                            <li>A free maintenance and support plan for one year period,</li>
                            <li>All major, minor and patch releases,</li>
                            <li>An unlimited projects, servers, websites and apps.</li>
                        </ul>
                        <p>
                            <strong>The regular license doesn't allow distributing Handsontable Pro
                            in an OEM model (like installing on premises).</strong>
                        </p>
                    </div>
                </div>
                <h4><a href="#">How many licenses do I need to buy?</a></h4>
                <div>
                    <div>
                        <p>The number of licenses has to be equal to the number of developers working directly
                            with Handsontable Pro at the same time. Licenses are not assigned
                            to a particular person but to each seat.</p>
                    </div>
                </div>
                <h4><a href="#">Can I use the license for multiple projects?</a></h4>
                <div>
                    <div>
                        <p>Each license allows to use the code on unlimited amount of domains,
                            servers and projects, regardless the type of the environment (production, QA etc.)</p>
                    </div>
                </div>
                <h4><a href="#">Can I use the software after the support expires?</a></h4>
                <div>
                    <div>
                        <p>The license is granted for an unlimited time. If you want to receive updates after first year,
                            you need to renew the support plan.</p>
                    </div>
                </div>
                <h4><a href="#">What comes with an Enterprise license?</a></h4>
                <div>
                    <div>
                        <p>
                            Enterprise license allow you to negotiate over the terms and conditions as well as modify
                            our standard license document. We are very flexible when it comes to adjusting our
                            offer to your business needs. Contact our <a href="/contact.html">Sales Team</a>
                            to learn more.
                        </p>
                        <strong>Enterprise license doesn't allow distributing Handsontable Pro
                            in an OEM model (like installing on premises).</strong>
                    </div>
                </div>
                <h4><a href="#">What is an OEM license?</a></h4>
                <div>
                    <div>
                        <p>OEM terms and conditions refer to projects which include third party installations.
                            If your product will be installed on End User physical machines or other data carriers,
                            then the additional OEM license has to be purchased.
                            In order to receive a quotation on the OEM license, contact our
                            <a href="/contact.html">Sales Team</a>.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Resellers</h3>
            <div class="answers">
                <h4><a href="#">Do you sell your products through resellers?</a></h4>
                <div>
                    <div>
                        <p>We actively seeking partnership with resellers from all over the world.
                            If you are interested in offering Handsontable Pro licenses to your customers,
                            do not hesitate to
                            <a href="/contact.html?category=business_opportunity">contact us.</a></p>
                    </div>
                </div>
                <h4><a href="#">How to become a Handsontable Pro certified reseller?</a></h4>
                <div>
                    <div>
                        <p>In order to become our certified reseller, please <a href="/contact.html">contact us</a>
                            to begin the pre-screening and on-boarding process.</p>
                    </div>
                </div>
                <h4><a href="#">Do you offer discounts for resellers?</a></h4>
                <div>
                    <div>
                        <p>As a certified reseller you get a discount for each sold license and renewal plan.
                            To get more information, please <a href="/contact.html">contact us</a>.</p>
                    </div>
                </div>
                <h4><a href="#">Where can I find the list of your certified resellers?</a></h4>
                <div>
                    <div>
                        <p><span>The list of certified resellers is available
                                <a href="/resellers.html">here</a>.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>