<section class="knowledge-base gap-bottom-small">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small wait-for-font">Knowledge base<br/>
                <span>Find answers to the most popular questions</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-5 columns">
            <h3 class="wait-for-font">About products</h3>
            <div class="answers">
                <h4><a href="#" class="thread">What is Handsontable?</a></h4>
                <div>
                    <div>
                        <p>Handsontable is a UI spreadsheet component for web apps. It is written in pure JavaScript
                            and supports all modern frameworks such as React, Angular or Vue.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">What is the difference between Handsontable CE and Pro?</a></h4>
                <div>
                    <div>
                        <p>Handsontable Community Edition (CE) is open-source software released under the MIT license.
                            Handsontable Pro on the other hand, comes with a commercial license and contains additional
                            features such as filters, dropdown menu, and nested headers.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Can I use Handsontable CE to build commercial products?</a></h4>
                <div>
                    <div>
                        <p>
                            Handsontable CE is released under the MIT license, which allows you to use it both for
                            commercial and non-commercial products.
                            <a href="//choosealicense.com/licenses/mit/" target="_blank" rel="noopener">Read more</a>
                            to learn about the MIT license.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Which browsers are supported?</a></h4>
                <div>
                    <div>
                        <p>Handsontable is compatible with all
                            modern browsers including Chrome, Firefox, Opera, Safari, Internet Explorer
                            9+, and Edge.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Which devices are supported?</a></h4>
                <div>
                    <div>
                        <p>Handsontable works on all desktop devices, while on mobile devices you can only display,
                            edit and navigate across the spreadsheet.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Which frameworks are supported?</a></h4>
                <div>
                    <div>
                        <p>Handsontable has official wrappers for modern frameworks such as React, Angular, and Vue.
                            There is also a TypeScript definitions file available for your strongly-typed code.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Technical support</h3>
            <div class="answers">
                <h4><a href="#" class="thread">Where do I report an issue?</a></h4>
                <div>
                    <div>
                        <p>
                            If you purchased a commercial license, then your primary support channel is through
                            an email address:
                            <a href="mailto:support@handsontable.com" target="_blank" rel="noopener">support@handsontable.com</a>.
                            Alternatively, you can report your problem
                            using the
                            <a href="/contact.html?category=technical_support">contact form</a>,
                            or by adding a new post on the <a href="//forum.handsontable.com" target="_blank" rel="noopener">
                                developers' forum</a>.
                            <br/><br/>
                            Any problems found in Handsontable CE should be reported on
                            <a href="//github.com/handsontable/handsontable/issues" target="_blank" rel="noopener">GitHub</a>
                            or <a href="//stackoverflow.com/tags/handsontable" target="_blank" rel="noopener">StackOverflow</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Is support included in the license?</a></h4>
                <div>
                    <div>
                        <p>With the purchase of a new license you get free maintenance and support for one year.
                            Within this period you can download major, minor and patch versions of new Handsontable
                            Pro releases for free.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you provide a phone support?</a></h4>
                <div>
                    <div>
                        <p>We offer phone support with the Developer Plus plan.
                            For all other plans this service incurs a separate cost.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How do I download and install the code?</a></h4>
                <div>
                    <div>
                        <p>Go to <a href="/download.html">download page</a> and follow the instructions
                            for installing either Handsontable CE and Handsontable Pro.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How do I install the license key?</a></h4>
                <div>
                    <div>
                        <p>Go to <a href="//my.handsontable.com">your account</a> where yo will find your license on the
                            list of orders. The license key is provided when you access the page with license's
                            detail information.
                        </p>
                        <p>You will need to pass the license key in the configuration code of Handsontable Pro,
                            as in the following example:</p>
                        <p>
                            <strong>licenseKey: 00000-00000-00000-00000-00000</strong>
                        </p>
                        <p>If something goes wrong - or you encounter issues when installing the code -
                            do not hesitate to contact our
                            <a href="/contact.html?category=technical_support">Support Team</a>.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you offer professional consulting on demand?</a></h4>
                <div>
                    <div>
                        <p>Our services include building business applications from scratch, integrating Handsontable
                            with existing solutions, optimizing the code, and making MVPs.
                            <a href="/contact.html?category=business_opportunity">Contact us</a>
                            to find out how we can help your organization.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">What is your hourly rate?</a></h4>
                <div>
                    <div>
                        <p>Our regular hourly rate is currently 70 USD. This may change in the future.</p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Your account</h3>
            <div class="answers">
                <h4><a href="#" class="thread">Where do I change my password?</a></h4>
                <div>
                    <div>
                        <p>You can change your password by signing in to your account, and navigating to the
                            <a href="//my.handsontable.com/account-change-password.html">
                                settings page</a>.
                    </div>
                </div>
                <h4><a href="#" class="thread">How do I change my email address?</a></h4>
                <div>
                    <div>
                        <p>There is currently no way to change your email address other than by contacting our
                            <a href="/contact.html?category=technical_support">Support Team</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How to transfer my license to another account?</a></h4>
                <div>
                    <div>
                        <p>You can transfer your license by contacting our
                            <a href="/contact.html?category=technical_support">Support Team</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How to remove my account?</a></h4>
                <div>
                    <div>
                        <p>
                            Please contact our <a href="/contact.html?category=technical_support">Support Team</a>
                            to delete your account.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Renewals</h3>
            <div class="answers">
                <h4><a href="#" class="thread">Must I renew the support plan?</a></h4>
                <div>
                    <div>
                        <p>
                            All licenses are perpetual and grant you the right to use them as long as you want.
                            However, if you want to receive updates and support after your plan expires,
                            you will need to renew it. Go to the
                            <a href="/pricing.html">pricing page</a> for more details.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How can I renew the support plan?</a></h4>
                <div>
                    <div>
                        <p>
                            You can renew your plan by signing into your account and selecting the expiring product
                            on the list of your orders. Then, click on "Proceed with renewal"
                            to begin the renewal process.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do I need to replace the license key after renewing a support plan?</a></h4>
                <div>
                    <div>
                        <p>
                            After renewing the maintenance plan, a new license key is generated.
                            You need to pass it correctly in the configuration code, as in the following example:
                        </p>
                        <p><strong>licenseKey: 00000-00000-00000-00000-00000</strong></p>
                        <p>The new license key can be found in <a href="//my.handsonable.com">your account</a>,
                            but it will also be sent to you by email.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-5 columns">
            <h3 class="wait-for-font">Purchasing - Handsontable Pro</h3>
            <div class="answers">
                <h4><a href="#" class="thread">Who stands behind this product?</a></h4>
                <div>
                    <div>
                        <p>Both license and support are provided by a limited liability company based in Poland:<br/>
                            Handsoncode sp. z o.o.<br/>
                            Aleja Zwycięstwa 96/98<br/>
                            81-451 Gdynia, Poland<br/>
                            VAT EU: PL5862294002</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Can I get an official quote?</a></h4>
                <div>
                    <div>
                        <p>Contact our <a href="/contact.html?category=request_for_quotation">Sales Team</a>
                            in order to receive an official quote.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you accept purchase orders?</a></h4>
                <div>
                    <div>
                        <p>You can send your purchase order to
                            <a href="mailto:sales@handsontable.com">sales@handsontable.com</a>.
                            It should contain information such as company details, order details and, if applicable,
                            the organization's VAT EU number.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Can I buy a license on someone's behalf?</a></h4>
                <div>
                    <div>
                        <p>
                            If you are authorized to buy the license, then feel free to do so.
                            Please be sure to fill in all the necessary information to get a proper invoice.
                            Also, please pass login details to the account at
                            <a href="https://my.handsontable.com/sign-up.html">my.handsontable.com</a> onto the
                            owner after the purchase.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Which payment methods do you accept?</a></h4>
                <div>
                    <div>
                        <p>
                            You can buy a license through our payment gateway provider, the US-based FastSpring,
                            using your credit card (Visa, MasterCard, Amex, Discover and JCB), or a PayPal account.
                            If you want to send payment via a bank wire transfer, please contact our
                            <a href="/contact.html">Sales Team</a>.
                        </p>
                        <p>You can buy a license through our payment gateway provider, the US-based
                            FastSpring company
                            using your credit card (Visa, MasterCard, Amex, Discover and JCB) or a PayPal
                            account. If you want to send us the money via bank wire transfer, please
                            contact our <a href="/contact.html">Sales Team</a>.
                            <br/><br/>
                            <strong>We do not accept checks.</strong>
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">What currencies do you accept?</a></h4>
                <div>
                    <div>
                        <p>For a bank wire transfer/PayPal: USD, EUR, GBP, PLN.<br/>
                            For credit card or PayPal (via FastSpring): USD, EUR, GBP, AUD, CAD, CHF, JPY, PLN.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you offer discounts?</a></h4>
                <div>
                    <div>
                        <p>Yes, we offer the following types of discounts:</p>
                        <p><strong>Volume discounts</strong></p>
                        <p>The discount is calculated on the number of licenses you buy in a single transaction:</p>
                        <ul>
                            <li>2-5 - 5%</li>
                            <li>6-10 - 10%</li>
                            <li>10+ - Contact us</li>
                        </ul>
                        <p><strong>Startup Discount (50%)</strong></p>
                        <p>We know how it feels to be an underdog, so we are happy to help your company grow.
                            To apply for a 50% discount you need to meet just a few requirements:</p>
                        <ul>
                            <li>Your startup must be privately held,</li>
                            <li>You need to have your own public website,</li>
                            <li>Your startup should not be more than 3 years old.</li>
                        </ul>
                        <p>Contact our <a href="/contact.html?category=request_for_discount">Sales Team</a>
                            to obtain a new license of Handsontable Pro for your awesome project!</p>
                        <p><strong>Student License (Free of charge)</strong></p>
                        <p>If you want to use Handsontable Pro in your education project, or in a private side-project,
                            we would love to give you our library for free. Your project can be commercial,
                            as long as it does not require you to start your own company. Contact us so we
                            can discuss this further.</p>
                        <p><strong>Teacher License (Free of charge)</strong></p>
                        <p>If you are going to use Handsontable Pro in your class or for training purposes then
                            this component is free of charge. Contact us and tell a bit more about your project.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you collect credit card information?</a></h4>
                <div>
                    <div>
                        <p>We do not save or process your credit card details.
                            Our payment gateway provider, FastSpring, does this for us.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Does the price include tax?</a></h4>
                <div>
                    <div>
                        <p>Tax is calculated accordingly to the laws of the country or
                            countries community chosen by the buyer on the purchase form, and all prices are net.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How can I get an invoice for my purchase?</a></h4>
                <div>
                    <div>
                        <p>
                            Depending on how you bought the license, you will either receive an invoice
                            automatically from FastSpring (our payment gateway provider), or, if you ordered
                            the license directly from us, you will receive an invoice from our
                            <a href="/contact.html">Sales Team</a>.
                            A paper copy of the electronic invoice can be sent upon request.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">I haven't received the confirmation of the purchase.</a></h4>
                <div>
                    <div>
                        <p>
                            After purchase you should receive an email with confirmation details and an invoice.
                            If you haven't received it, please check your spam folder first,
                            before contacting our <a href="/contact.html">Sales Team</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you offer refunds?</a></h4>
                <div>
                    <div>
                        <p>We offer a quality pre-sale experience, which is why we provide an evaluation version
                            of Handsontable Pro that allows you to try the product for an unlimited time.
                            Before buying a license, please make sure it meets your requirements,
                            as we don't offer refunds once the purchase has been made.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Licensing - Handsontable Pro</h3>
            <div class="answers">
                <h4><a href="#" class="thread">How do you define a developer?</a></h4>
                <div>
                    <div>
                        <p>A developer is every person in your organization working directly with the
                            Handsontable Pro source code. This includes implementing, integrating,
                            and altering the code.</p>
                    </div>
                </div>

                <h4><a href="#" class="thread">What is included in the license?</a></h4>
                <div>
                    <div>
                        <p>The Handsontable Pro license grants you a non-exclusive,
                            lifelong right to install and use the software. It comes with following benefits:
                        </p>
                        <ul>
                            <li>All premium features,</li>
                            <li>A right to edit the source code,</li>
                            <li>A free maintenance and support plan for one year,</li>
                            <li>All major, minor and patch releases,</li>
                            <li>An unlimited number of projects, servers, websites, and apps.</li>
                        </ul>
                        <p>
                            <strong>The regular license doesn't allow the distribution of Handsontable Pro
                                in an OEM model (like installing on premises).</strong>
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How many licenses do I need to buy?</a></h4>
                <div>
                    <div>
                        <p>The number of licenses has to be equal to the number of developers working
                            directly with Handsontable Pro at the same time.
                            Licenses are not assigned to a particular person, but to each seat.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Can I use the license for multiple projects?</a></h4>
                <div>
                    <div>
                        <p>Each license allows you to use the code on an unlimited number of domains,
                            servers, and projects, regardless of the environment type (production, QA etc.)</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Can I use the software after the support expires?</a></h4>
                <div>
                    <div>
                        <p>The license is granted for an unlimited time.
                            If you want to receive updates after first year, you need to renew the support plan.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">What comes with an Enterprise license?</a></h4>
                <div>
                    <div>
                        <p>
                            The Enterprise license allow you to negotiate the terms and conditions, as well as modify
                            our standard license document. We are very flexible when it comes to adjusting our
                            offer to your business needs. Contact our <a href="/contact.html">Sales Team</a> to learn more.
                        </p>
                        <strong>The Enterprise license does not allow for distributing Handsontable Pro
                            in an OEM model (like installing on premises).</strong>
                    </div>
                </div>
                <h4><a href="#" class="thread">What is an OEM license?</a></h4>
                <div>
                    <div>
                        <p>
                            OEM terms and conditions refer to projects which include third party installations.
                            If your product will be installed on End User physical machines or other data carriers,
                            then the additional OEM license has to be purchased. In order to receive a quotation
                            on the OEM license, contact our <a href="/contact.html">Sales Team</a>.
                        </p>
                    </div>
                </div>
            </div>

            <h3 class="gap-top-xsmall">Resellers</h3>
            <div class="answers">
                <h4><a href="#" class="thread">Do you sell your products through resellers?</a></h4>
                <div>
                    <div>
                        <p>
                            We welcome partnerships with resellers from all over the world.
                            If you are interested in offering Handsontable Pro licenses to your customers,
                            do not hesitate to <a href="/contact.html?category=business_opportunity">contact us.</a>.
                        </p>
                    </div>
                </div>
                <h4><a href="#" class="thread">How to become a Handsontable Pro certified reseller?</a></h4>
                <div>
                    <div>
                        <p>In order to become a certified reseller, please <a href="/contact.html">contact us</a>
                            to begin the pre-screening and on-boarding process.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Do you offer discounts for resellers?</a></h4>
                <div>
                    <div>
                        <p>As a certified reseller you get a discount for each license and renewal plan sold.
                            Please <a href="/contact.html">contact us</a> for more information.</p>
                    </div>
                </div>
                <h4><a href="#" class="thread">Where can I find the list of your certified resellers?</a></h4>
                <div>
                    <div>
                        <p><span>The list of certified resellers is available
                                <a href="/resellers.html">here</a>.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>