<section class="labs gap-bottom-xsmall">

    <div class="row headline">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small">
                timesheet.xlsx<br/>
                <span>Your Handsontable spreadsheet from an Excel file</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="actions text-right">
                <a href="#" target="_blank" rel="noopener">Copy HTML</a>
                <a href="/labs-upload.html" target="_blank" rel="noopener" class="new">Create new</a>
                <a href="#" target="_blank" rel="noopener" class="remove">Delete</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="tabs tabs-sheets">
                <div id="sheet1" class="active">
                    <div class="plugin-preview">
                        <div id="hot"></div>
                    </div>
                </div>
                <div id="sheet2">
                    <div class="row">
                        <div class="small-12 columns">
                            Handsontable Sheet 2
                        </div>
                    </div>
                </div>
                <div id="sheet3">
                    <div class="row">
                        <div class="small-12 columns">
                            Handsontable Sheet 3
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <ul>
                        <li id="tab-sheet1" class="active">Sheet1</li>
                        <li id="tab-sheet2">Sheet2</li>
                        <li id="tab-sheet3">Sheet3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row gap-top-xsmall">
        <div class="small-12 medium-3 columns">
            <div class="stats">
                <h3>Statistics</h3>
                <p>Created at: <strong>May 16, 2017</strong></p>
                <p>Worksheets: <strong>4</strong></p>
                <p>Non-blank cells: <strong>25</strong></p>
                <p>Formulas: <strong>25</strong></p>
            </div>
        </div>
        <div class="small-12 medium-3 end columns">
            <div class="report">
                <h3>Help us improve</h3>
                <a href="#" target="_blank" rel="noopener">Give feedback</a>
            </div>
        </div>
        <div class="small-12 medium-6 end columns">
            <div class="share">
                <h3>Share it</h3>
                <input type="text" id="share-url" value="https://labs.handsontable.com/convert/013081380180"
                       onclick="this.select();" readonly />
                <p>
                    <a href="#" target="_blank" rel="noopener" title="Share on Facebook">
                        <svg class="svg">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" target="_blank" rel="noopener" title="Share on Twitter">
                        <svg class="svg">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-5 columns project-description">
            <h3 class="gap-top-small">About this project</h3>
            <p>This is an experimental playground which we created to better develop Excel-like features in Handsontable.
                However, it turned out that some of you found this project useful so we decided to make it available for
                a wider audience.
                Now, how it works - we use a microservice on the back-end side based on
                <a href="https://github.com/PHPOffice/PHPExcel" target="_blank" rel="noopener">PHP Excel</a> to parse and serialize the
                binary file and then save it to the database. The saved data is then bind with Handsontable
                which has a built-in parser to extract the configuration entries such as colors, sizes etc.
            </p>
            <p>At this stage this app can only handle formulas, values, and styles. Unfortunately, all
                cross-sheet formulas will be calculated and turned into static values. Also, after the file is
                uploaded you can modify the content, but all changes will be lost after the page reloads.</p>
            <p>By using this app you agree to be bound by our <a href="/terms-of-use.html">terms of use</a>.</p>
        </div>

        <div class="large-6 columns">
            <div class="subscribe-form">
                <h3 class="gap-top-small">Subscribe to updates</h3>
                <div id="mc_embed_signup">
                    <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=0a640d7654"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" rel="noopener" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input placeholder="Email Address" type="email" value="" name="EMAIL"
                                       class="required email" id="mce-EMAIL">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                       class="btn bg-blue text-white bg-ligthen">
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <span>We never spam. Opt-out any time.</span>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                              name="b_47073b08d03ebee16188c1687_0a640d7654"
                              tabindex="-1"
                              value=""></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript'
                        src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>
            </div>
        </div>
    </div>
    <div class="row comments gap-top-small" id="comments">
        <div class="large-8 medium-12 large-centered columns">
            <!-- START EMBED CODE -->
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = handsontable.com;
                    this.page.identifier = handsontable-labs;
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//handsontable.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                    comments powered by Disqus.</a></noscript>
            <!-- END EMBED CODE -->
        </div>
    </div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b33be61739fd7f"
        async="async"></script>
<script id="dsq-count-scr" src="//handsontable.disqus.com/count.js" async></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Copy HTML  modal -->
<div class="modal modal-html hidden">
    <div class="modal-container">
        <div class="modal-header">
            <div class="row">
                <div class="small-6 columns">
                    Copy HTML
                </div>
                <div class="small-6 columns text-right">
                    <a href="#">
                        <svg class="svg">
                            <use xlink:href="#close-mobile-nav"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-content text-center">
            <code>
                Kod
            </code>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="columns text-right">
                    <a href="#" class="btn size-medium bg-green bg-lighten text-white">Save to clipboard</a>
                    <a href="#" class="btn size-medium bg-blue bg-lighten text-white">Save to file</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop bg-light-transparent"></div>
</div>

<script data-jsfiddle>
    var dataObject = [
        {
            id: 1,
            flag: 'EUR',
            currencyCode: 'EUR',
            currency: 'Euro',
            level: 0.9033,
            units: 'EUR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0026
        },
        {
            id: 2,
            flag: 'JPY',
            currencyCode: 'JPY',
            currency: 'Japanese Yen',
            level: 124.3870,
            units: 'JPY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0001
        },
        {
            id: 3,
            flag: 'GBP',
            currencyCode: 'GBP',
            currency: 'Pound Sterling',
            level: 0.6396,
            units: 'GBP / USD',
            asOf: '08/19/2015',
            onedChng: 0.00
        },
        {
            id: 4,
            flag: 'CHF',
            currencyCode: 'CHF',
            currency: 'Swiss Franc',
            level: 0.9775,
            units: 'CHF / USD',
            asOf: '08/19/2015',
            onedChng: 0.0008
        },
        {
            id: 5,
            flag: 'CAD',
            currencyCode: 'CAD',
            currency: 'Canadian Dollar',
            level: 1.3097,
            units: 'CAD / USD',
            asOf: '08/19/2015',
            onedChng: -0.0005
        },
        {
            id: 6,
            flag: 'AUD',
            currencyCode: 'AUD',
            currency: 'Australian Dollar',
            level: 1.3589,
            units: 'AUD / USD',
            asOf: '08/19/2015',
            onedChng: 0.0020
        },
        {
            id: 7,
            flag: 'NZD',
            currencyCode: 'NZD',
            currency: 'New Zealand Dollar',
            level: 1.5218,
            units: 'NZD / USD',
            asOf: '08/19/2015',
            onedChng: -0.0036
        },
        {
            id: 8,
            flag: 'SEK',
            currencyCode: 'SEK',
            currency: 'Swedish Krona',
            level: 8.5280,
            units: 'SEK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0016
        },
        {
            id: 9,
            flag: 'NOK',
            currencyCode: 'NOK',
            currency: 'Norwegian Krone',
            level: 8.2433,
            units: 'NOK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0008
        },
        {
            id: 10,
            flag: 'BRL',
            currencyCode: 'BRL',
            currency: 'Brazilian Real',
            level: 3.4806,
            units: 'BRL / USD',
            asOf: '08/19/2015',
            onedChng: -0.0009
        },
        {
            id: 11,
            flag: 'CNY',
            currencyCode: 'CNY',
            currency: 'Chinese Yuan',
            level: 6.3961,
            units: 'CNY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0004
        },
        {
            id: 12,
            flag: 'RUB',
            currencyCode: 'RUB',
            currency: 'Russian Rouble',
            level: 65.5980,
            units: 'RUB / USD',
            asOf: '08/19/2015',
            onedChng: 0.0059
        },
        {
            id: 13,
            flag: 'INR',
            currencyCode: 'INR',
            currency: 'Indian Rupee',
            level: 65.3724,
            units: 'INR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0026
        },
        {
            id: 14,
            flag: 'TRY',
            currencyCode: 'TRY',
            currency: 'New Turkish Lira',
            level: 2.8689,
            units: 'TRY / USD',
            asOf: '08/19/2015',
            onedChng: 0.0092
        },
        {
            id: 15,
            flag: 'THB',
            currencyCode: 'THB',
            currency: 'Thai Baht',
            level: 35.5029,
            units: 'THB / USD',
            asOf: '08/19/2015',
            onedChng: 0.0044
        },
        {
            id: 16,
            flag: 'IDR',
            currencyCode: 'IDR',
            currency: 'Indonesian Rupiah',
            level: 13.83,
            units: 'IDR / USD',
            asOf: '08/19/2015',
            onedChng: -0.0009
        },
        {
            id: 17,
            flag: 'MYR',
            currencyCode: 'MYR',
            currency: 'Malaysian Ringgit',
            level: 4.0949,
            units: 'MYR / USD',
            asOf: '08/19/2015',
            onedChng: 0.0010
        },
        {
            id: 18,
            flag: 'MXN',
            currencyCode: 'MXN',
            currency: 'Mexican New Peso',
            level: 16.4309,
            units: 'MXN / USD',
            asOf: '08/19/2015',
            onedChng: 0.0017
        },
        {
            id: 19,
            flag: 'ARS',
            currencyCode: 'ARS',
            currency: 'Argentinian Peso',
            level: 9.2534,
            units: 'ARS / USD',
            asOf: '08/19/2015',
            onedChng: 0.0011
        },
        {
            id: 20,
            flag: 'DKK',
            currencyCode: 'DKK',
            currency: 'Danish Krone',
            level: 6.7417,
            units: 'DKK / USD',
            asOf: '08/19/2015',
            onedChng: 0.0025
        },
        {
            id: 21,
            flag: 'ILS',
            currencyCode: 'ILS',
            currency: 'Israeli New Sheqel',
            level: 3.8262,
            units: 'ILS / USD',
            asOf: '08/19/2015',
            onedChng: 0.0084
        },
        {
            id: 22,
            flag: 'PHP',
            currencyCode: 'PHP',
            currency: 'Philippine Peso',
            level: 46.3108,
            units: 'PHP / USD',
            asOf: '08/19/2015',
            onedChng: 0.0012
        }
    ];

    var hotElement = document.querySelector('#hot');
    var hotSettings = {
        data: dataObject,
        stretchH: 'all',
        autoWrapRow: true,
        height: 505,
        maxRows: 22,
        rowHeaders: true,
        colHeaders: true
    };

    var hot = new Handsontable(hotElement, hotSettings);
</script>