<section class="labs gap-bottom-xsmall">

    <div class="row headline">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-small">
                <span class="experimental">Experimental</span>
                Excel to Handsontable<br/>
                <span>Create Handsontable from an Excel file</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="large-9 large-centered columns">
            <div class="uploader text-center">

                <svg class="svg">
                    <use xlink:href="#upload"></use>
                </svg>

                <p><strong>Drop your file here</strong></p>
                <p>or</p>
                <a href="#" class="btn size-medium bg-blue bg-lighten text-white shadow hover-moveup">Select a file</a>
                <p>XLSX, XLS, CSV. Max. 2MB</p>
            </div>
        </div>
    </div>

    <div class="row spreadsheet-samples gap-top-small">
        <div class="columns">
            <h2 class="gap-bottom-xxsmall">Try sample spreadsheets</h2>
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
                <li><a href="/labs-result.html" class="btn bg-purple bg-lighten text-white shadow hover-moveup">Simple timesheet</a></li>
                <li><a href="/labs-result.html" class="btn bg-blue bg-lighten text-white shadow hover-moveup">Simple timesheet</a></li>
                <li><a href="/labs-result.html" class="btn bg-navy bg-lighten text-white shadow hover-moveup">Simple timesheet</a></li>
                <li><a href="/labs-result.html" class="btn bg-green bg-lighten text-white shadow hover-moveup">Simple timesheet</a></li>
                <li><a href="/labs-result.html" class="btn bg-red bg-lighten text-white shadow hover-moveup">Simple timesheet</a></li>
                <li><a href="/labs-result.html" class="btn bg-yellow bg-lighten text-white shadow hover-moveup">Simple timesheet</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-5 columns project-description">
            <h3 class="gap-top-xsmall">About this project</h3>
            <p>This is an experimental playground which we created to better develop Excel-like features in Handsontable.
                However, it turned out that some of you found this project useful so we decided to make it available for
                a wider audience.
                Now, how it works - we use a microservice on the back-end side based on
                <a href="https://github.com/PHPOffice/PHPExcel" target="_blank" rel="noopener">PHP Excel</a> to parse and serialize the
                binary file and then save it to the database. The saved data is then bind with Handsontable
                which has a built-in parser to extract the configuration entries such as colors, sizes etc.
            </p>
            <p>At this stage this app can only handle formulas, values, and styles. Unfortunately, all
                cross-sheet formulas will be calculated and turned into static values. Also, after the file is
                uploaded you can modify the content, but all changes will be lost after the page reloads.</p>
            <p>By using this app you agree to be bound by our <a href="/terms-of-use.html">terms of use</a>.</p>
        </div>

        <div class="large-6 columns">
            <div class="subscribe-form">
                <h3 class="gap-top-xsmall">Subscribe to updates</h3>
                <div id="mc_embed_signup">
                    <form action="//handsontable.us9.list-manage.com/subscribe/post?u=47073b08d03ebee16188c1687&amp;id=0a640d7654"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" rel="noopener" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input placeholder="Email Address" type="email" value="" name="EMAIL"
                                       class="required email" id="mce-EMAIL">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                       class="btn bg-blue text-white bg-ligthen">
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <span>We never spam. Opt-out any time.</span>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                              name="b_47073b08d03ebee16188c1687_0a640d7654"
                              tabindex="-1"
                              value=""></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript'
                        src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0] = 'EMAIL';
                        ftypes[0] = 'email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);</script>
            </div>
        </div>
    </div>
    <div class="row comments gap-top-small" id="comments">
        <div class="large-8 medium-12 large-centered columns">
            <!-- START EMBED CODE -->
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = handsontable.com;
                    this.page.identifier = handsontable-labs;
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//handsontable.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                    comments powered by Disqus.</a></noscript>
            <!-- END EMBED CODE -->
        </div>
    </div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56b33be61739fd7f"
        async="async"></script>
<script id="dsq-count-scr" src="//handsontable.disqus.com/count.js" async></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Loader -->
<div class="modal hidden">
    <div class="modal-container">
        <div class="modal-content text-center">
            <div class="loading">
                <svg class="svg" class="loader">
                    <use xlink:href="#lab-bottles"></use>
                </svg>
            </div>
            <p><strong>"Scientist believe in things, not in person"</strong></p>
            <p>~Marie Curie</p>
            <br/>
            <p>Uploading <span class="filename">timesheet.xlsx</span></p>
            <p class="hidden">Nothing happens? <a href="#" class="filename">Refresh the page</a></p>
        </div>
    </div>
    <div class="modal-backdrop bg-light-transparent"></div>
</div>