<section class="pricing">
    <div class="stripe-gray">
        <div class="row">
            <div class="columns">
                <h1 class="text-center size-large gap-top-medium gap-bottom-small">Buy Handsontable Pro<br/>
                    <span>Royalty-free, lifetime licences with 1 year free support plan</span>
                </h1>
            </div>
        </div>

        <div class="row pricing-plans">
            <div class="small-12 medium-3 columns">
                <div class="plan text-center">
                    <h3>Open source</h3>
                    <p>Community<br>
                        Edition</p>
                    <p class="price">Free</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            All basic features
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            The MIT License
                        </li>
                    </ul>
                    <a href="/download.html" class="btn size-medium text-white bg-green shadow bg-lighten">Download</a>
                </div>
            </div>

            <div class="small-12 medium-3 columns">
                <div class="plan text-center">
                    <h3>Developer</h3>
                    <p>Premium features<br>
                        included</p>
                    <p class="price">$590</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            1 year of support
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Unlimited websites
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Full source code
                        </li>
                    </ul>
                    <a href="//sites.fastspring.com/handsontable/instant/single-website-with-basic-support"
                       class="btn size-medium text-white bg-blue shadow bg-lighten">Buy</a>
                </div>
            </div>

            <div class="small-12 medium-3 columns">
                <div class="plan developer-plus text-center">
                    <h3>Developer <span>Plus</span></h3>
                    <p>Developer licence with<br>
                        Extended support</p>
                    <p class="price">$990</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            10h of support time
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            12h initial response
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Emergency hot fixes
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Priority assistance
                        </li>
                    </ul>
                    <a href="//sites.fastspring.com/handsontable/instant/single-website-with-basic-support"
                       class="btn size-medium text-white bg-blue shadow bg-lighten">Buy</a>
                </div>
            </div>

            <div class="small-12 medium-3 columns">
                <div class="plan text-center">
                    <h3>Enterprise</h3>
                    <p>Tailored solutions<br>
                        for your organization</p>
                    <p class="price">Contact us</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Unlimited developers
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            2 years of support
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Phone assistance
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Access to core team
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Negotiable terms
                        </li>
                    </ul>
                    <a href="/contact.html?category=enterprise_inquiry"
                       class="btn size-medium text-white bg-navy shadow bg-lighten">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row comparison-table table-container">
        <div class="large-12 columns">
            <h3 class="size-medium gap-top-xsmall">
                Compare plans
            </h3>
            <table class="table">
                <thead>
                <tr class="under">
                    <th></th>
                    <th>Community edition</th>
                    <th>Developer</th>
                    <th>Developer Plus</th>
                    <th>Enterprise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="left">Premium features
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                commercial licence gives you support<br/>
                                from our core dev team, and unlocks<br/>
                                unlimited websites usage
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="left">Current developers
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                it's the number of developers <br/>
                                working simultaneously <br/>
                                on handsontable.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>Unlimited</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="left">Servers / websites
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                each license allows you to use the code <br/>
                                on unlimited amount of domains, <br/>
                                servers or projects.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="left">Free update rights
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                it states for how long you will have access<br/>
                                to the newest production ver. of Handsontable.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>1 year</td>
                    <td>1 year</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td class="left">Support time
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                it's a number of support hours<br/>
                                you get per month for each licence.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>1 hour</td>
                    <td>10 hours</td>
                    <td>custom</td>
                </tr>
                <tr>
                    <td class="left">Initial response time
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                amount of time we give ourselves<br/>
                                to get back to you.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>36 hours</td>
                    <td>12 hours</td>
                    <td>12 hours</td>
                </tr>
                <tr>
                    <td class="left">Emergency hot fixes
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                on demand quick fixes outside of products<br/>
                                regular development lifecycle.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="left">On premise deployment
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                to use handsontable PRO on premise <br/>
                                you need to get in touch with us.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row testimony">
        <div class="medium-2 columns text-center">
            <img src="<%= img_path %>testimony/mike_preuss.jpg" alt="Mike Preuss"/>
        </div>
        <div class="medium-10 columns">
            <blockquote>
                "Our users love how easy it is to enter and customize their metrics"
            </blockquote>
            <h5>Mike Preuss - CEO at <a href="//visible.vc" target="_blank">Visible</a></h5>
        </div>
    </div>

    <div class="purchase-option stripe-gray">
        <div class="row">
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#wallet"></use>
                    </svg>
                    <h3>Discounts</h3>
                    <p>We offer 50% discount for startups, teachers and students</p>
                    <p class="top">
                        <a href="/contact.html?category=request_for_discount">I'm a startup</a><br>
                        <a href="/contact.html?category=request_for_discount">I'm a student or a teacher</a><br>
                        <a href="/contact.html?category=request_for_discount">Get a volume discount</a>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#envelope"></use>
                    </svg>
                    <h3>Get a quote</h3>
                    <p>Receive an official quote for the requested products</p>
                    <p class="top">
                        <a href="/contact.html?category=request_for_quotation">Get a quote</a><br>
                        <a href="/contact.html?category=general_question">Send a purchase order</a>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#resellers"></use>
                    </svg>
                    <h3>For resellers</h3>
                    <p>Join our global network of authorized resellers.</p>
                    <p class="top">
                        <a href="/knowledge-base.html">General rules</a><br>
                        <a href="/resellers.html">Directory</a><br>
                        <a href="/contact.html?category=business_opportunity">Apply now</a><br>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#help"></use>
                    </svg>
                    <h3>Need help?</h3>
                    <p>Contact us if you have more questions about our products</p>
                    <p class="top">
                        <a href="/contact.html?category=general_question">Contact sales</a><br>
                        <a href="/knowledge-base.html">Knowledge base</a><br>
                        <a href="https://docs.handsontable.com/tutorial-licensing.html">Read license</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="license-renewal row">
        <h3 class="size-large weight-normal text-center gap-top-xsmall gap-bottom-xsmall">
            License renewal<br/>
            <span>All of license plans include one year of free maintenance and support.<br>
            Renews your support plan to continue receiving updates for another 2 years.</span>
        </h3>
        <div class="large-12 large-centered columns table-container">
            <table class="table">
                <thead>
                    <tr class="under">
                        <th width="340"></th>
                        <th width="200">Developer</th>
                        <th width="200">Developer plus</th>
                        <th width="200">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Standard Renewal before the plan expired
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                cost of license renewal<br/>
                                before expiration date.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>$150 per developer</td>
                    <td>$150 per developer</td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                <tr>
                    <td>Late Renewal after your plan has expired
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                cost of license renewal<br/>
                                after expiration date.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>$300 per developer</td>
                    <td>$450 per developer</td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="renew-license">
            <a class="btn size-medium bg-white border-blue hover-moveup text-blue shadow"
               href="//my.handsontable.com/sign-in.html">Renew licence</a>
        </div>
    </div>

    <div class="q-and-a">
        <div class="row">
            <h3 class="size-large weight-normal text-center gap-top-small gap-bottom-xsmall">
                Frequently asked questions<br/>
                <span>Find answer to the most popular questions or
                    <a href="/knowledge-base.html">read through all of them</a>
                </span>
            </h3>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h4>How would you define a developer?</h4>
                    <p>
                        A developer is every person in your organization working directly with Handsontable source code.
                        That includes implementing, integrating or changing the code.
                    </p>
                    <h4>How many licenses do I need?</h4>
                    <p>You need one license for every developer working with Handsontable. Licenses are not assigned
                        to a particular person but to each seat.
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h4>Can I still use Handsontable after 12 months?</h4>
                    <p>Yes, you can. Once you buy a license you can use it without time boundaries.
                        Although after 12 months from the purchase date you lose the possibility to get
                        updates and support.</p>
                    <h4>Can I edit the source code?</h4>
                    <p>Yes, Handsontable license allows to use source code and edit it, so you can easily
                        integrate it with your product.</p>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h4>Which payment methods do you accept?</h4>
                    <p>You can buy a license with your PayPal account or a credit card.
                        If you wish to send us the money via bank wire transfer, please contact our Sales Team.</p>
                    <h4>How can I get an invoice for my purchase?</h4>
                    <p>The invoice is sent to the email address provided during purchase.
                        Invoices for OEM / Enterprise version and for resellers are, each time,
                        issued manually by our Sales Team.</p>
                </div>
            </div>
        </div>
    </div>
</section>
