<section class="pricing">
    <div class="stripe-gray">
        <div class="row">
            <div class="columns">
                <h1 class="text-center size-large gap-top-medium gap-bottom-small">Buy Handsontable Pro<br/>
                    <span>Royalty-free, lifetime licenses with 1 year free maintenance plan</span>
                </h1>
            </div>
        </div>

        <div class="row pricing-plans">
            <div class="small-12 medium-3 columns">
                <div class="plan text-center">
                    <h3>Open source</h3>
                    <p>Community<br/>
                        Edition</p>
                    <p class="price">Free</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            All basic features
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            The MIT License
                        </li>
                    </ul>
                    <a href="/community-download.html"
                       class="btn size-medium text-white bg-green shadow hover-moveup bg-lighten">Download</a>
                </div>
            </div>

            <div class="small-12 medium-3 columns">
                <div class="plan text-center">
                    <h3>Developer</h3>
                    <p>Premium features<br/>
                        included</p>
                    <p class="price">$590</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            1 year of support
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Unlimited websites
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Full source code
                        </li>
                    </ul>
                    <a href="//sites.fastspring.com/handsontable/instant/single-website-with-basic-support"
                       class="btn size-medium text-white hover-moveup bg-blue shadow bg-lighten">Buy</a>
                </div>
            </div>

            <div class="small-12 medium-3 columns">
                <div class="plan developer-plus text-center">
                    <h3>Developer <span>Plus</span></h3>
                    <p>Developer license with<br/>
                        Extended support</p>
                    <p class="price">$1290</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            10 h of support time
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            12 h initial response
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Emergency hot fixes
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Priority assistance
                        </li>
                    </ul>
                    <a href="//sites.fastspring.com/handsontable/instant/single-website-with-basic-support"
                       class="btn size-large text-white hover-moveup bg-blue shadow bg-lighten">Buy</a>
                </div>
            </div>

            <div class="small-12 medium-3 columns">
                <div class="plan text-center">
                    <h3>Enterprise</h3>
                    <p>Tailored solution<br/>
                        for your organization</p>
                    <p class="price">Contact us</p>
                    <ul class="text-left">
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Unlimited developers
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Priority support
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Phone assistance
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Access to core team
                        </li>
                        <li>
                            <svg class="svg">
                                <use xlink:href="#check"></use>
                            </svg>
                            Negotiable terms
                        </li>
                    </ul>
                    <a href="/contact.html?category=enterprise_inquiry"
                       class="btn size-medium text-white hover-moveup bg-navy shadow bg-lighten">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row comparison-table table-container">
        <div class="large-12 columns">
            <h3 class="size-medium gap-top-xsmall">
                Compare plans
            </h3>
            <table class="table">
                <thead>
                <tr class="under">
                    <th></th>
                    <th>Community Edition</th>
                    <th>Developer</th>
                    <th>Developer Plus</th>
                    <th>Enterprise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="left">Premium features
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                A commercial version comes with<br/>
                                additional features such as Filters, <br/>
                                Dropdown menu, Nested headers and more.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="left">Number of developers
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                The number of concurrent developers<br/>
                                under the license allowed to work<br/>
                                with Handsontable Pro.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>Unlimited</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="left">Servers / websites
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                The number of servers, websites or <br/>
                                instances in which Handsontable Pro <br/>
                                is installed and run.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="left">Free maintenance
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                The period in which all the major,<br/>
                                minor and patch updates are free<br/>
                                of charge.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>1 year</td>
                    <td>1 year</td>
                    <td>1 year</td>
                </tr>
                <tr>
                    <td class="left">Support time
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                The number of support hours<br/>
                                available during the first year<br/>
                                after the purchase.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>1 hour</td>
                    <td>10 hours</td>
                    <td>10 hours</td>
                </tr>
                <tr>
                    <td class="left">Initial response time
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                Our time target for providing<br/>
                                an initial answer to newly<br/>
                                added ticket - within our working<br/>
                                hours (8:00 AM - 5:00 PM CET).
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>36 hours</td>
                    <td>12 hours</td>
                    <td>12 hours</td>
                </tr>
                <tr>
                    <td class="left">Emergency hot fixes
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                A bug fix which immediately<br/>
                                solves a reported problem,<br/>
                                even before the official release.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="left">OEM / On-premise deployment
                        <div class="tooltip-btn tooltip-right">i
                            <div class="tooltip-inner">
                                This applies when Handsontable Pro is<br/>
                                physically installed<br/>
                                or distributed on third-party<br/>
                                (other than licensee's) data carriers<br/>
                                such as servers, DVD, pendrives etc.
                                <div class="tooltip-angle">
                                    <div class="tooltip-right"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <svg class="svg">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row testimony">
        <div class="medium-2 columns text-center">
            <img src="<%= img_path %>testimony/mike_preuss.jpg" alt="Mike Preuss"/>
        </div>
        <div class="medium-10 columns">
            <blockquote>
                "Our users love how easy it is to enter and customize their metrics"
            </blockquote>
            <h5>Mike Preuss - CEO at <a href="//visible.vc" target="_blank">Visible</a></h5>
        </div>
    </div>

    <div class="purchase-option stripe-gray">
        <div class="row">
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#wallet"></use>
                    </svg>
                    <h3>Discounts</h3>
                    <p>We offer discounts for startups, teachers and students</p>
                    <p class="top">
                        <a href="/contact.html?category=request_for_discount">I'm a startup</a><br/>
                        <a href="/contact.html?category=request_for_discount">I'm a student or a teacher</a><br/>
                        <a href="/contact.html?category=request_for_discount">Get a volume discount</a>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#envelope"></use>
                    </svg>
                    <h3>Get a quote</h3>
                    <p>Receive an official quote for the requested products</p>
                    <p class="top">
                        <a href="/contact.html?category=request_for_quotation">Get a quote</a><br/>
                        <a href="/contact.html?category=business_opportunity">Send a purchase order</a>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#resellers"></use>
                    </svg>
                    <h3>For resellers</h3>
                    <p>Join our global network of authorized resellers</p>
                    <p class="top">
                        <a href="/resellers.html">List of resellers</a><br/>
                        <a href="<%= static_path %>/licenses/resellers/v1/software-reseller-agreement.pdf" target="_blank">
                            General rules
                        </a><br/>
                        <a href="/contact.html?category=business_opportunity">Apply now</a><br/>
                    </p>
                </div>
            </div>
            <div class="small-12 medium-3 columns">
                <div class="purchase-item">
                    <svg class="svg-icon">
                        <use xlink:href="#help"></use>
                    </svg>
                    <h3>Need help?</h3>
                    <p>Contact us if you have more questions about our products</p>
                    <p class="top">
                        <a href="/contact.html?category=general_question">Contact sales</a><br/>
                        <a href="/knowledge-base.html">Knowledge base</a><br/>
                        <a href="<%= static_path %>/licenses/v3/handsontable-pro-license-terms.pdf" target="_blank">
                            Read the license
                        </a><br/>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="license-renewal row">
        <h3 class="size-large weight-normal text-center gap-top-xsmall gap-bottom-xsmall">
            License renewal<br/>
            <span>All licenses include one year of free maintenance and support.<br/>
            Renew your support plan to continue receiving updates for another year.</span>
        </h3>
        <div class="large-12 large-centered columns table-container">
            <table class="table">
                <thead>
                <tr class="under">
                    <th width="340"></th>
                    <th width="200">Developer</th>
                    <th width="200">Developer Plus</th>
                    <th width="200">Enterprise</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Standard Renewal before the plan expires</td>
                    <td>$390 / developer</td>
                    <td>$790 / developer</td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                <tr>
                    <td>Late Renewal after your plan has expired</td>
                    <td>$490 / developer</td>
                    <td>$890 / developer</td>
                    <td><a href="/contact.html?category=enterprise_inquiry">Contact us</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="renew-license">
            <a class="btn size-medium bg-white border-blue hover-moveup text-blue shadow"
               href="//my.handsontable.com/sign-in.html">Renew license</a>
        </div>
    </div>

    <div class="q-and-a">
        <div class="row">
            <h3 class="size-large weight-normal text-center gap-top-small gap-bottom-xsmall">
                Frequently asked questions<br/>
                <span>Find answers to the most popular questions or
                    <a href="/knowledge-base.html">read through all of them</a>
                </span>
            </h3>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h4>How do you define a developer?</h4>
                    <p>
                        A developer is every person in your organization working directly with Handsontable Pro source code.
                        This includes implementing, integrating, or changing the code.
                    </p>
                    <h4>How many licenses do I need?</h4>
                    <p>
                        The number of licenses should be equal to the number of developers working directly with
                        Handsontable Pro at the same time. Licenses are not assigned to a particular person
                        but to each seat.
                    </p>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h4>Can I still use Handsontable Pro after 12 months?</h4>
                    <p>
                        Yes you can, because the license is perpetual. However, if you want access to updates
                        and support, you would have to renew the support plan.
                    </p>
                    <h4>Can I edit the source code?</h4>
                    <p>
                        Yes, a Handsontable Pro license allows to use the source code and edit it,
                        so you can easily integrate it with your product.
                    </p>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="question-item">
                    <h4>Which payment methods do you accept?</h4>
                    <p>
                        You can buy a license using your credit card or PayPal account. If you want to send us payment
                        via bank wire transfer, please contact our Sales Team. We do not accept checks.
                    </p>
                    <h4>How can I get an invoice for my purchase?</h4>
                    <p>
                        Depending on how you bought the license, you will either receive an invoice automatically
                        from our payment gateway provider, or you will receive it from our Sales Team.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
