<section class="privacy gap-bottom-xsmall">

    <div class="row">
        <div class="columns">
            <h1 class="text-center size-large gap-top-medium gap-bottom-xsmall">Privacy policy<br/>
                <span>Learn how we keep your data private and safe</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="large-8 large-centered columns">
            <div class="row">
                <div class="small-12 columns">
                    <p>Last updated: August 23, 2017</p>

                    <p>
                        <strong>(i)</strong> We respect and protect the privacy and security of users of our Website
                        (“User/s”,“you”).
                    </p>
                    <p>
                        <strong>(ii)</strong> This privacy policy (“Privacy Policy”) covers the data provided to us via our website
                        at handsontable.com (“Website”). Here we describe what data we collect in connection with our services
                        (“Service/s”), for what purpose, and how they are used. This Privacy Policy also contains
                        information about data security and rights the Users have with respect to the access and
                        control over the information provided to us.
                    </p>
                    <p>
                        <strong>(iii)</strong> For the purposes of this Privacy Policy the term “data processing”
                        includes not only
                        <strong>(a)</strong> the use of cookies on a computer, smartphone, and the like of the User,
                        and <strong>(b)</strong> the
                        collection and processing of data for statistical purposes, but also <strong>(c)</strong>
                        other operations on
                        the information and data, including without limitation obtaining, recording, holding,
                        development, alteration, disclosure and erasure, in connection with the provision of the
                        Services.
                    </p>

                    <h4>RULES</h4>
                    <h4>#1 Data Controller</h4>
                    <p><strong>(a)</strong> Handsoncode sp. z o.o. (“HOC”, or “we”), is the data
                        controller with respect to the User’s personal data;
                        we carry out the processing of your personal data in accordance with the provisions of the acts
                        on the protection of personal
                        data and on electronic services, and with other such relevant laws and regulations as generally
                        applicable in the territory of Poland (“Applicable Law”).
                    </p>
                    <p>
                        <strong>(b)</strong> Provision of personal data in connection with your use of the Service is voluntary.
                        Note, however, that the refusal to provide certain data may make it impossible for you to use
                        all or part of the Website functions.
                    </p>
                    <p>
                        <strong>(c)</strong> HOC processes Users’ personal data primarily for the purpose of proper provision of its
                        Services, constant improvement of the Website and Services, and also for direct marketing
                        of its own products and Services. HOC processes personal data within the following scope:
                        name, address, phone number, e-mail address, user IDs, passwords, billing information
                        or credit card information, and any personal information provided voluntarily
                        in your emails or otherwise.
                    </p>
                    <p>
                        <strong>(d)</strong> HOC enables you to exercise your rights under the Applicable Law, in particular the
                        right of access to your data, the right to request update of the data, and to object
                        to processing if and when so provided. In order to avail yourself of said rights you may
                        send a message to that end to the following address: hello@handsontable.com.
                    </p>

                    <h4>#2 Safety Measures, Disclosure</h4>
                    <p><strong>(a)</strong> Only trained and authorized HOC personnel may access your personal data.</p>
                    <p>
                        <strong>(b)</strong> The data collected and processed by HOC may be disclosed to third parties in accordance
                        with the principles of this Privacy Policy and provisions of the Applicable Law, where it has been established that such disclosure
                        is necessary to:
                        <strong>(i)</strong> protect the rights of third parties or HOC;
                        <strong>(ii)</strong> protect public safety or that of other persons;
                        <strong>(iii)</strong> prevent or deter activities of an unethical or abusive nature; and in all other cases
                        required by Applicable Law, in particular in cases of suspected offense or
                        infringement of intellectual property rights.
                    </p>

                    <h4>#3 Technical Issues, Data Erasure And Retention</h4>
                    <p><strong>(a)</strong> At the time of your browsing the Website, our servers automatically
                        collect information
                        sent by your browser and included in log files. The information may include a variety of
                        data, in particular email address, IP address, browser type, internet site you visited
                        immediately prior to accessing our Website, the time of accessing the Website, and other
                        statistical data. HOC may use the information for the purposes of conclusion, amendment,
                        termination of a contract with the User, if any, and to ensure the highest quality of the
                        Services, as well as for technical and statistical purposes.
                    </p>
                    <p>
                        <strong>(b)</strong> As a general rule HOC commits to discontinue processing personal data after you have
                        ceased to use the Service. HOC may continue to process your data after you have ceased to
                        use the Service if the data: <strong>(i)</strong> is necessary for the settlement of dues or satisfaction of
                        claims for payment for the use of Services; <strong>(ii)</strong> is anonymized and necessary for the
                        purposes of advertising, market research, or Users’ behavior and preferences studies, and
                        the results of the same are to improve the quality of Services, with your consent; <strong>(iii)</strong>) is
                        necessary to clarify the circumstances of unauthorized use of the Service; or <strong>(iv)</strong> may be
                        processed on the basis of particular laws or agreements.
                    </p>
                    <p>
                        <strong>(c)</strong> If HOC becomes aware or informed that you have abused the Service, HOC may process your
                        personal data to the extent necessary to determine your liability, provided that we record
                        receipt and contents of the information for evidentiary purposes.
                    </p>
                    <p>
                        <strong>(d)</strong> HOC may inform the User of unauthorized activities and demand their immediate cessation,
                        as well as avail itself of the powers stipulated in Subsections 3(b) and 3(c) above.
                    </p>

                    <h4>#4 Cookies</h4>
                    <p><strong>(a)</strong> HOC uses text files, called "cookies". A "cookie" is a small piece of information placed
                        at the request of our server (first-party cookies) on the User’s telecommunications terminal
                        equipment (e.g. computer, smartphone, etc.; “TTE”) during a visit to the Website that the
                        server can read when you return thereto. The use of cookies purports to ensure proper
                        functioning of the Service on the User’s TTE; use of cookies does not change the
                        configuration of the User’s TTE or software installed on such equipment.
                    </p>
                    <p>
                        <strong>(b)</strong> HOC uses the following types of cookies: <strong>(i)</strong> session cookies – stored on your TTE until
                        you are on the Website, you disable the browser, or you log out of the Website; and <strong>(ii)</strong>
                        persistent cookies – stored on your TTE for a specified period of time or until their
                        removal by the User.
                    </p>
                    <p>
                        <strong>(c)</strong> HOC applies the cookies for the purposes of: <strong>(i)</strong> facilitating smooth navigation on the
                        Website, including by maintaining a User's session so there is no need to log onto each and
                        every webpage; <strong>(ii)</strong> verification and development of our offer, including by adjusting the
                        content of the Website according to your preferences; and <strong>(iii)</strong> statistics.
                    </p>
                    <p>
                        <strong>(d)</strong> You consent that HOC makes use of external cookies (third-party cookies) that, among
                        else, <strong>(i)</strong> display on the Website multimedia content, <strong>(i)</strong> collect general and anonymous
                        statistics from analytical tools, and <strong>(iii)</strong> use or enable interactive features in order to
                        promote the Service by using social networking sites – set, placed, or otherwise employed by
                        owners, operators, or other persons responsible for, without limitation, Google, GitHub.com,
                        Livechatinc.com, JSFiddle.net, AddThis.com, Disqus.com, DoubleClick.net, Facebook.com,
                        Twitter.com.
                    </p>
                    <p>
                        <strong>(e)</strong> The User can specify conditions of use of cookies through browser settings. In
                        particular, you can disable cookies in your web browser. However, the prevention or deletion
                        of cookies may hamper or deprive you of enjoyment of the Service.
                    </p>

                    <h4>#5 Commercial Information</h4>
                    <p><strong>(a)</strong> HOC reserves the right to send to the Users who have signed up for our newsletter
                        commercial information relating to the activities of HOC, its partners and contractors.
                    </p>
                    <p>
                        <strong>(b)</strong> Each recipient of our newsletter has the right to assert that they do not wish to
                        receive commercial information from HOC by clicking on the link “unsubscribe”.
                    </p>

                    <h4>#6 Minors</h4>
                    <p><strong>(a)</strong> This Website is intended for adults only.</p>
                    <p>
                        <strong>(b)</strong> Persons who are under 18 years of age may use our Website with the permission and/or
                        under supervision of their legal representatives. Minors are requested not to disclose any
                        information, in particular their personal data,
                        to HOC or other Users.
                    </p>

                    <h4>#7 External Links</h4>
                    <p><strong>(a)</strong> This Website contains hyperlinks (for instance, in the form of logos of entities
                        external to HOC) that, if clicked on, redirect Users to external websites. Application of
                        such reference must not be so understood as to imply any kind of association between HOC and
                        the entity to which the external website belongs. Neither may HOC be held liable for the
                        consequences of this kind of redirection nor does HOC determine the content of external
                        websites.
                    </p>
                    <p>
                        <strong>(b)</strong> HOC shall bear no responsibility for the terms and conditions of privacy and security
                        policies in force on those websites, or for cookies used while browsing any such external
                        websites. We encourage Users using this kind of reference to consult the contents of the
                        relevant documents in force on external websites.
                    </p>

                    <h4>#8 Final Provisions</h4>
                    <p><strong>(a)</strong> By using our Website you agree to the terms and conditions set out in this Privacy
                        Policy.
                    </p>
                    <p>
                        <strong>(b)</strong> For any questions or concerns regarding the Privacy Policy and use of the Website,
                        please contact HOC at this email address: hello@handsontable.com.
                    </p>
                    <p>
                        <strong>(c)</strong> HOC reserves the right to make changes or additions to this Privacy Policy.
                        Any such changes will be posted at <a href="/privacy.html">handsontable.com/privacy.html</a>.
                    </p>

                    <br/>
                    <p><strong>If you have any questions regarding the above notices, please <a
                                    href="/contact.html?category=general_question"> contact
                                us</a>.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>