/**
 * @author: Handsoncode
 */

.knowledge-base {

  h2 {
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin-top: 0;
      text-align: center;
    }
  }

  h3 {
    margin: 30px 0 30px;
    font-weight: 500;
  }

  h4 {
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
  }

  h5 {
    margin: 0;
    padding: 0;
    color: $brandBlue;
    line-height: 2em;
    font-weight: 400;
  }

  .bottom-section {
    margin: 60px 0 0 0;
    padding: 0 0 90px 0;
    background: $brandBlue;
    text-align: center;

    h2 {
      color: $darkWhite;
    }
  }

  .answers {

    ul, li {
      font-weight: 400;
    }

    li {
      list-style-type: disc;
      list-style-position: inside;
    }

    & > div {
      padding-left: 20px;
      display: block;
      border-left: 10px solid $headerGrey;

      &.opened {
        @include transition (all .8s ease-in-out);
        height: 100%;
        display: block;
      }

      &.closed {
        @include transition (all .8s ease-in-out);
        height: 0;
        display: none;
      }
    }

    a {
      font-size: inherit;
      text-decoration: none;
    }

    img {
      margin: 10px 0;
    }
  }
  .bottom-headline {
    margin: 97px 0 23px;
  }

}


