<section class="post" itemid="https://handsontable.com/2017/5/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Handsontable Pro 1.13.0 (CE 0.34.0) released
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/aleksandra-budnik.png" alt="Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/release">Release</a> / August 2, 2017</span>
                <meta itemprop="datePublished" content="2017-08-02T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-08-02T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/8/1.13.0-0.34.0/new-release.png"
                     alt="Handsontable Pro 1.13.0 (CE 0.34.0) released" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/2017/8/1.13.0-0.34.0/new-release.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="504">
            </p>

            <p>
                Today we are happy to announce that Handsontable Pro 1.13.0 (Community Edition 0.34.0) is finally
                out the door. In this version we have fixed a few minor issues that were reported by our
                community on GitHub. Also, new enhancements to the Filter plugin are introduced. Most of
                them are connected with the new capability to set AND/OR conditions through the visual part
                of the plugin as well as its API.
            </p>

            <h3>
                Breaking changes:
            </h3>
            <ul>
                <li>
                    We've unified the types of coordinates passed to these plugin hooks:
                    <code class="inline">beforeGetCellMeta</code>, <code class="inline">afterGetCellMeta</code>,
                    <code class="inline">afterSetCellMeta</code>. Now they'll be operating
                    on <em>visual</em> table coordinates (so do the <code class="inline">getCellMeta</code> and
                    <code class="inline">setCellMeta</code> methods). Please
                    make sure you update your hook callbacks to use them properly
                    (<a href="https://github.com/handsontable/handsontable/issues/4409" target="_blank" rel="noopener">
                        #4409</a>).
                </li>
            </ul>

            <h3>
                Other changes:
            </h3>
            <ul>
                <li>
                    Updated the Filters documentation.
                </li>
                <li>
                    Fixed a problem where the Filters plugin threw an error when there was a condition with too
                    many arguments applied.
                </li>
                <li>
                    Added support for the <code class="inline">EXP</code> formula in the Filters plugin.
                </li>
                <li>
                    Changed the text in the warning message thrown when the amount of conditions exceeded the capacity
                    of the dropdownMenu.
                </li>
                <li>
                    Fixed the alignment of the checkboxes in the Filters dropdown menu.
                </li>
                <li>
                    Fixed a problem where the Filters plugin threw an error when adding a condition with an
                    improper name.
                </li>
                <li>
                    Fixed a problem where the Filters plugin threw an error when using the
                    <code class="inline">disablePlugin</code> method while
                    the Dropdown Menu plugin was not enabled.
                </li>
                <li>
                    Updated the typescript definitions to match changes in the Filters plugin.
                    (<a href="https://github.com/handsontable/handsontable/issues/4429" target="_blank" rel="noopener">#4429</a>)
                </li>
                <li>
                    Added a parameter to the <code class="inline">afterUpdateSettings</code> hook, carrying information
                    about the settings object passed to the <code class="inline">updateSettings</code> method.
                    (<a href="https://github.com/handsontable/handsontable/issues/4413" target="_blank" rel="noopener">#4413</a>)
                </li>
                <li>
                    Fixed the <code class="inline">removeCellMeta</code> method. Previously it did not work properly
                    with row and column order modifications.
                    (<a href="https://github.com/handsontable/handsontable/issues/4410" target="_blank" rel="noopener">#4410</a>)
                </li>
                <li>
                    Fixed a problem where an error was thrown when using <code class="inline">setCopyableText</code>
                    before selecting anything in the table.
                    (<a href="https://github.com/handsontable/handsontable/issues/4390" target="_blank" rel="noopener">#4390</a>)
                </li>
                <li>
                    Updated the documentation for the Comments plugin.
                    (<a href="https://github.com/handsontable/handsontable/issues/4379" target="_blank" rel="noopener">#4379</a>)
                </li>
                <li>
                    Fixed testing setup not working on Windows.
                    (<a href="https://github.com/handsontable/handsontable/issues/4378" target="_blank" rel="noopener">#4378</a>)
                </li>
                <li>
                    Updated the Travis config to run hot-builder tests along with Handsontable tests.
                    (<a href="https://github.com/handsontable/handsontable/issues/4372" target="_blank" rel="noopener">#4372</a>)
                </li>
            </ul>

            <p>
                You want to be up-to-date with all our updates? You will always find fresh updates on
                our <a href="https://twitter.com/handsontable" target="_blank" rel="noopener">Twitter profile</a>.
            </p>
            <p>
                We appreciate all Github issues and emails which helped us fix issues in the current release. Leave a
                comment or
                <a href="https://handsontable.com/contact.html" target="_blank" rel="noopener">
                    contact us
                </a>
                to help us make Handsontable even better.
            </p>
           <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_abudnik") %>
</section>