<section class="post" itemid="https://handsontable.com/2017/5/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                11 Best Rich-Text Editors
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/aleksandra-budnik.png" alt="Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/tools">Release</a> / August 24, 2017</span>
                <meta itemprop="datePublished" content="2017-08-24T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-08-24T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/8/11-best-rich-text-editors/11-best-rich-text-editors.jpg"
                     alt=" 11 Best Rich-Text Editors" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/2017/8/11-best-rich-text-editors/11-best-rich-text-editors.jpg">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="504">
                <label class="photo-label">Photo credit:
                    <a href="https://unsplash.com/@andrewtneel" target="_blank">Andrew Neel</a></label>
            </p>

            <p>
                Writing is one of the most important human skills that allows us to interact with one another, to
                transfer thoughts and opinions, to express ourselves, and - for some - to stand out from the crowd. We
                transitioned from scratching on a clay tablet with a bone, to putting quill tip to parchment. More
                recently we have swapped pens and paper for keyboard and digital screen, with a variety of text editors
                helping us digitise our writing across multiple platforms. And with digital screens, there is so much
                more we can do with text, from rapidly changing style, colour and size, to adding shapes to our documents,
                images, and even motion. Traditional writing can be elegant, but digital writing is dynamic.
            </p>

            <p>
                Rich-Text Editors, sometimes called ‘what you see is what you get’ (WYSIWYG) editors, allow you to create
                documents that include text, images, charts, grids and videos. They are powerful programs and apps,
                that can be used as standalone applications or as web-based components, usually written in JavaScript.
                In this article I will be looking at the latter, comparing the top JavaScript Rich Text Editors. Some
                of are free, some are open-source software, and some offer paid solutions. Go ahead and play with the
                demos provided below, before deciding which one best fits your project.
            </p>

            <h3>
                <a href="http://ckeditor.com/" target="_blank">
                    CKEditor
                </a>
            </h3>
                <p>
                    First launched as FCKEditor in 2003, this powerful program relaunched as CKEditor,
                    with a completely new design, in 2009. It offers
                    <a href="https://ckeditor.com/features" target="_blank">more than 100 features</a>,
                    including the ability to paste formatted data, fully customise the editor, and a powerful
                    API. Not ignoring the fact that there are also
                    <a href="http://docs.cksource.com/Main_Page" target="_blank">
                        separate versions available for Drupal and Joomla</a>.
                </p>
            <iframe width="100%" height="370" src="//jsfiddle.net/handsoncode/vohfppbc/embedded/result,js,html/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>
                <p>
                    <a href="https://ckeditor.com/pricing" target="_blank">
                        CKEditor is available as open-source software</a>,
                    with lifetime licenses starting at $99.
                    <a href="https://ckeditor.com/support" target="_blank">
                        A large, active community of developers can assist</a>
                    with basic support, with professional support only available to licensed users.
                </p>

            <h3>
                <a href="https://www.tinymce.com/" target="_blank">
                    TinyMCE
                </a>
            </h3>
            <p>
                First released as a standalone product in 2004, and very familiar to anyone who has ever used
                WordPress. On top of a
                <a href="https://www.tinymce.com/features/" target="_blank">
                    rich list of free and premium features</a>, TinyMCE also offers robust
                cross-browser compatibility, along with the ability to integrate with many popular web frameworks.
            </p>
            <iframe width="100%" height="430" src="//jsfiddle.net/handsoncode/dLhzqq9p/embedded/result,js,html/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                TinyMCE is open-source software,
                <a href="https://www.tinymce.com/pricing/" target="_blank">
                    with plugins and professional support</a> available as additional
                monthly costs. A
                <a href="https://community.tinymce.com/" target="_blank">
                    very active community</a> and
                <a href="https://www.tinymce.com/docs/" target="_blank">
                    comprehensive documentation</a> mean you won't have much
                difficulty getting started with TinyMCE.
            </p>

            <h3>
                <a href="https://www.froala.com/wysiwyg-editor/inline " target="_blank">
                    Froala Editor
                </a>
            </h3>
            <p>
                Froala Editor is only available
                <a href="https://www.froala.com/wysiwyg-editor/pricing" target="_blank">
                    as a paid solution, starting at $99</a>, but this includes free updates
                for a year. Froala Editor easily integrates with a number of popular frameworks, includes a flexible
                API, and you can
                <a href="https://www.froala.com/wysiwyg-editor/easy-to-extend" target="_blank">
                    extensibility beyond the more than 30 plugins</a> the software comes with. Full support
                is only available with Professional and OEM licenses, but the Froala team have put together
                <a href="https://www.froala.com/wysiwyg-editor/docs" target="_blank">detailed documentation</a>
                and a list of
                <a href="https://wysiwyg-editor.froala.help/hc/en-us" target="_blank">
                    basic support questions.</a>
            </p>
            <iframe width="100%" height="350" src="//jsfiddle.net/handsoncode/vtacmhzh/embedded/result,js,html/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>

            <h3>
                <a href="https://quilljs.com/" target="_blank">Quill</a>
            </h3>
            <p>
                Quill debuted as a fully open-source rich-text editor only two years ago, but has already attracted a
                dedicated audience, with more than 14,000 stars on GitHub. It boasts a modern UI, along with support
                for all modern browsers and newer versions of iOS and Android.
            </p>
            <iframe width="100%" height="400" src="//jsfiddle.net/handsoncode/jdwze9b7/embedded/result,js,html/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                At just 30 lines long, the license is
                easy to understand, and not very restrictive. And with so many fans on GitHub,
                <a href="https://github.com/quilljs/quill/issues" target="_blank">
                    issues are highlighted and addressed quickly</a>, with additional
                <a href="https://stackoverflow.com/questions/tagged/quill" target="_blank">
                    support available on Stack Overflow</a>. And a
                <a href="https://quilljs.com/playground/" target="_blank">neat playground
                    allows you to test out the software</a> without having to install it first.
            </p>

            <h3>
                <a href="http://summernote.org" target="_blank">Summernote</a>
            </h3>
            <p>
                The final rich-text editor in this list is Summernote, which is both super simple to install, and
                lightweight. Summernote is open-source software, completely customisable, and can be integrated with
                various back-end frameworks.
            </p>
            <iframe width="100%" height="430" src="//jsfiddle.net/handsoncode/Lht8k4Ld/embedded/result,js,html/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                You can either download
                <a href="http://summernote.org/getting-started/" target="_blank">
                    the precompiled source (minus documentation)
                    from the website</a>, or get the
                <a href="https://github.com/summernote/summernote/" target="_blank">
                    full source code via GitHub</a>. The
                <a href="http://summernote.org/deep-dive/" target="_blank">
                    site includes extensive documentation</a>
                on how to customise Summernote, which includes
                <a href="http://summernote.org/examples/" target="_blank">
                    detailed examples</a>.
            </p>


            <h3>
                <a href="https://github.com/wymeditor/wymeditor" target="_blank">
                    WYMeditor
                </a>
            </h3>
            <p>
                WYMeditor is an open-source WYSIWYM (what you see is what you mean) text editor. This means the focus
                is on semantics, working with strict XHTML, and leaving out visual details. First released in 2005,
                the developers
                <a href="http://www.wymeditor.org/features/" target="_blank">
                    aim to keep the editor as simple as possible</a>, with an emphasis on clean and readable
                source code.
            </p>
            <iframe width="100%" height="510" src="//jsfiddle.net/handsoncode/vrx8ybv8/embedded/result,js,html/"
                    allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <p>
                <a href="https://github.com/wymeditor/wymeditor" target="_blank">
                    With no download necessary</a>, WYMeditor is easy to integrate, with community support
                available via
                <a href="https://stackoverflow.com/questions/tagged/wymeditor" target="_blank">
                    Stack Overflow</a> and a
                <a href="https://gitter.im/wymeditor/wymeditor" target="_blank">
                    Gitter channel</a>.
            </p>

            <h3>
                <a href="http://www.nicedit.com/" target="_blank">
                    NicEdit
                </a>
            </h3>
            <p>
                NicEdit is no longer being actively developed, but I have included it here because it still works,
                is completely free to use, and is incredibly small. All that is required to add NicEdit to your
                website is two lines of code, but if you want to configure it further, you are also
                <a href="http://nicedit.com/download.php" target="_blank">
                    able to download the code</a>,
                which weighs in at less than 40kb. Because the software is no longer being developed,
                <a href="http://wiki.nicedit.com/w/page/519/FrontPage" target="_blank">
                    don't expect any support beyond a basic Wiki</a>.
                But if all you need is a basic solution, NicEdit is definitely
                worth a look.
            </p>

            <h3>
                <a href="http://freetextbox.com" target="_blank">
                    Free Text Box
                </a>
            </h3>
            <p>
                Like many of the rich-text editors listed here, Free Text Box has been around since the
                early aughts, 2002 to be precise. It differs from most in that it was developed using the
                ASP.NET framework. Both the control and the source  can be downloaded and used free of charge,
                with
                <a href="http://www.freetextbox.com/features/" target="_blank">
                    a large number of features included</a>. Like NicEdit, Free Text Box is no longer being actively
                developed, so expect
                <a href="http://www.freetextbox.com/docs/ftb3/" target="_blank">
                    limited support outside of basic documentation</a>.
            </p>

            <h3>
                <a href="http://richtexteditor.com/" target="_blank">
                    Rich Text Editor
                </a>
            </h3>
            <p>
                The second rich-text editor in this list to make us of the ASP.NET framework, Rich Text Editor is
                developed by
                <a href="https://cutesoft.net/" target="_blank">
                    CuteSoft Components Inc</a>, a Canadian company responsible for several programs developed
                using ASP.NET. Although Rich Text Editor is a commercial product,
                <a href="http://richtexteditor.com/pricing.aspx" target="_blank">
                    with pricing from $149</a>, a
                <a href="http://richtexteditor.com/download.aspx" target="_blank">
                    30-day trial</a> is offered, along with an
                <a href="http://richtexteditor.com/demo/" target="_blank">
                    online demo that includes many examples</a>. As with most commercial
                software,
                <a href="http://richtexteditor.com/document/" target="_blank">
                    comprehensive documentation</a> is available on the website,
                <a href="http://richtexteditor.com/support.aspx" target="_blank">
                    along with several options for support</a>.
            </p>

            <h3>
                <a href="https://textbox.io/" target="_blank">
                    Textbox.io
                </a>
            </h3>
            <p>
                Textbox.io also offers a modern UI, though it is
                <a href="https://textbox.io/pricing/" target="_blank">
                    only free for non-commercial use</a>. Commercial
                licenses start at $99 /mo, with premium support included. Designed to be used on both desktops and
                mobile devices, Textbox.io is fully responsive, and
                <a href="https://textbox.io/wysiwyg-html-editor/" target="_blank">
                    includes all the features you would expect</a> from
                a modern text editor.
                <a href="https://textbox.io/getting-started/" target="_blank">
                    Getting started is as simple as downloading</a> the SDK, or prepackaged integrations
                for popular CMSs and frameworks. Support is only available for licensed versions of Textbox.io, but
                extensive documentation - and API reference -
                <a href="https://textbox.io/docs/" target="_blank">
                    are available online</a>.
            </p>
            
            <h3>
                <a href="http://alloyeditor.com/" target="_blank">AlloyEditor</a>
            </h3>
            <p>
                AlloyEditor is built on top of CKEditor, with the idea being to separate the  core (CKEditor) from the
                UI. This means you get the full power of CKEditor - including the ability to reuse plugins for
                CKEditor - with a modern UI that can be fully customised. Detailed documentation covers everything
                <a href="https://alloyeditor.com/docs/" target="_blank">
                    from developer and usage options</a>, along with full details on all the features,
                <a href="https://alloyeditor.com/api/1.4.1/" target="_blank">
                    and a rich API</a>. The
                <a href="https://alloyeditor.com/updates/" target="_blank">
                    list of updates is structured</a> for easy reading, so you never have to worry about missing a new or
                updated feature.
            </p>

            <h3>
                Conclusion
            </h3>
            <p>
                Rich-text editors are an essential part of many apps these days, but creating your own in unnecessary
                with so many existing editors already available. All that is left for you to do is to decide which
                one is most suitable for your project, and your users.
            </p>

            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_abudnik") %>
</section>