/**
 * @author: Handsoncode
 */

.loading {
  @include animation (fadein 0.6s ease-in alternate infinite);

  @-webkit-keyframes fadein {
    0%   { opacity: 0.4; }
    100% { opacity: 1; }
  }

  svg {
    width: 150px;
  }
}
