/**
 * @author: Handsoncode
*/

.modal-html {

  .modal-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    height: auto;

    @media only screen and (min-width: $largeWidth) {
      width: 600px;
    }

    code {
      height: 300px;
      margin: 0;
      overflow: auto;
      border-top: 1px solid $lightGray;
      border-bottom: 1px solid $lightGray;
    }
  }
}