/**
 * @author: Handsoncode
 */

.labs {

  .stats, .report, .share {

    h3 {
      font-size: 22px;
    }
  }

  .share {

    input[type="text"] {
      width: 100%;
      padding: 4px 14px;
      overflow: auto;
      font-size: 12px;
      white-space: nowrap;
      font-family: $codeFont;
      border: none;
      background-color: $darkWhite;
    }

    svg {
      @include square (30px);
      @include transition (opacity .15s ease-in-out);
      margin: 0 10px 0 2px;

      &:hover {
        opacity: .9;
      }
    }
  }

  .stats {

    p {
      line-height: 0.6;
    }
  }
}