/**
 * @author: Handsoncode
 */

.labs .tabs-sheets {

  & > div {
    display: none;

    &:first-child, &.active {
      display: block;
    }
  }

  .plugin-preview {
    background-color: $darkWhite;
  }

  & > div:not(.tab) {
    padding: 0;
  }
}