/**
 * @author: Handsoncode
 */

.labs {

  .headline {

    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .experimental {
      width: 120px;
      margin: 0 auto 20px;
      padding: 6px 0;
      color: #fff;
      display: block;
      font-size: 16px;
      font-weight: 400;
      background-color: $brandPurple;
    }
  }

  .project-description {

    p {
      text-align: justify;
    }
  }

  .subscribe-form {

    .btn {
      padding: 10px 24px;
    }
  }
  .actions {
    padding-top: 10px;

    a {
      margin: 0 6px;
      font-size: 13px;

      &:first-child {
        margin-right: 30px;
      }

      &.new {
        color: $brandGreen;
      }

      &.remove {
        color: $brandRed;
      }
    }
  }
}