/**
 * @author: Handsoncode
 */

.labs {

  .headline {

    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .beta small {
      font-size: 13px;
    }
  }

  .project-description {

    p {
      text-align: justify;
    }

    ul li {
      margin-left: 20px;
      list-style: square;
    }
  }

  .subscribe-form {

    .btn {
      padding: 10px 24px;
    }
  }
  .actions {
    padding-bottom: 10px;

    a {
      margin: 0 6px;
      font-size: 13px;

      &:first-child {
        margin-right: 30px;
      }

      &.new {
        color: $brandGreen;
      }

      &.remove {
        color: $brandRed;
      }
    }
  }
}