/**
 * @author: Handsoncode
 */

.labs .uploader {
  @include transition (background-color .1s ease-in-out);
  padding: 70px 0 85px;
  border: 2px dashed $gray;
  border-radius: 6px;

  &.drop, &:hover {

    cursor: pointer;

    @media only screen and (min-width: $largeWidth) {
      background-color: $brandFeatherBlue;
      border-color: $brandBlue;

      &.error {
        background-color: $darkWhite;
        border-color: $brandRed;
      }
    }
  }

  p {
    color: $darkGray;
  }
}

