/**
 * @author: Handsoncode
 */

.customers {

  .header-background {
    background-image: url($images + 'template/ModCustomers/housemark/housemark-video-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top -20px;
    height: 40vh;
    min-height: 440px;
    margin-bottom: 120px;
    color: $darkWhite;
    font-size: small;
    overflow: hidden;

    @media only screen and (min-width: $largeWidth) {
      background-position: center top 0;
      height: 80vh;
    }

    h2 {
      width: 600px;
      margin-bottom: 5px;
      word-wrap: break-word;
      line-height: 1.2em;
      font-size: 20px;

      @media only screen and (min-width: $largeWidth) {
        font-size: 40px;
      }
    }

    .quotation {
      @include absolute-bottom-left(95px, -50px);
      display: none;
      @media only screen and (min-width: $largeWidth) {
        display: block;
      }
    }

    .svg-icon {
      @include transition(opacity .3s ease);

      max-height: 90px;
      max-width: 90px;
      opacity: .55;

      &.svg-icon:hover {
        opacity: .30;
      }
    }

    .housemark {
      max-height: 18px;
      max-width: 20px;
      margin-bottom: -5px;
    }
  }

  .infogram-excerpt {
    @include square(340px, true);
    display: block;

    @media only screen and (min-width: $largeWidth) {
      @include rectangle(1128px, 340px, true);
    }

    &:after {
      @include square(100%);

      @media only screen and (min-width: $largeWidth) {
        @include rectangle(1128px, 340px);
      }
    }
    .mikko {
      display: none;

      @media only screen and (min-width: $largeWidth) {
        display: block;
        float: left;
        margin-top: -68px;
        margin-right: 62%;
      }
    }

    .infogram-heading {

      float: none;

      @media only screen and (min-width: $largeWidth) {
        width: 320px;
        float: left;
        margin: 0 0 60px 40%;
      }
    }

    .signature {
      margin-top: 20px;
      font-size: 0.6em;
    }

    .quotation {
      margin-right: 620px;
    }
  }

  .customer-excerpt {
    @include square(340px, true);

    &:after {
      @include square(100%);
    }
  }

  .customer {
    margin: 0 auto 50px;
    padding: 20px;
    position: relative;
    color: #fff;
    background-color: $brandDarkNavy;

    &:hover:after {
      opacity: .55;
    }

    &:after {
      @include set-pseudo-element(0, 0, auto, auto);
      @include transition(opacity .3s ease);
      opacity: .30;
      z-index: 2;
      background-size: cover;
    }

    &.akindi:after {
      background-image: url($images + 'template/ModCustomers/akindi/akindi-el.png');
    }

    &.bittitan:after {
      background-image: url($images + 'template/ModCustomers/bittitan/bittitan-el.png');
    }

    &.nuxeo:after {
      background-image: url($images + 'template/ModCustomers/nuxeo/nuxeo-el.png');
    }

    &.trackingfirst:after {
      background-image: url($images + 'template/ModCustomers/trackingfirst/trackingfirst-el.png');
    }

    &.infogram:after {
      background-image: url($images + 'template/ModCustomers/infogram/infogram-el.png');

      @media only screen and (min-width: $largeWidth) {
        background-image: url($images + 'template/ModCustomers/infogram/Infogram-wide-bg.png');
      }
    }

    &.datawrapper:after {
      background-image: url($images + 'template/ModCustomers/datawrapper/datawrapper-el.png');
    }

    &.socialpoint:after {
      background-image: url($images + 'template/ModCustomers/socialpoint/socialpoint-el.png');
    }

     &.omnidb:after {
      background-image: url($images + 'template/ModCustomers/omnidb/omnidb-el.png');
    }

    &.visible:after {
      background-image: url($images + 'template/ModCustomers/visible/visible-el.png');
    }

    &.amcharts:after {
      background-image: url($images + 'template/ModCustomers/amcharts/amcharts-el.png');
    }

    &.slicingdice:after {
      background-image: url($images + 'template/ModCustomers/slicingdice/slicingdice-el.png');
    }

    &.coming-soon {
      cursor: default;
      background-color: $lightGray;
    }

    img, h3 {
      z-index: 3;
    }

    img {
      @include absolute-top-right(40px, 40px);
    }

    h3 {
      @include absolute-bottom-left(20px, 30px);
      padding-right: 20px;
      line-height: 1.2em;
    }
  }
}