/**
 * @author: Handsoncode
 */

.customers {

  .customer-excerpt {
    @include square(340px, true);
    margin: 0 auto 50px;
    padding: 20px;
    position: relative;
    color: #fff;
    background-color: $brandDarkNavy;

    &:hover:after {
      opacity: .55;
    }

    &:after {
      @include set-pseudo-element(0, 0, auto, auto);
      @include square(100%);
      @include transition(opacity .3s ease);
      opacity: .30;
      z-index: 2;
      background-size: cover;
    }

    &.akindi:after {
      background-image: url($images + 'template/ModCustomers/akindi/akindi-el.png');
    }

    &.bittitan:after {
      background-image: url($images + 'template/ModCustomers/bittitan/bittitan-el.png');
    }

    &.infogram:after {
      background-image: url($images + 'template/ModCustomers/infogram/infogram-el.png');
    }

    &.nuxeo:after {
      background-image: url($images + 'template/ModCustomers/nuxeo/nuxeo-el.png');
    }

    &.trackingfirst:after {
      background-image: url($images + 'template/ModCustomers/trackingfirst/trackingfirst-el.png');
    }

    &.datawrapper:after {
      background-image: url($images + 'template/ModCustomers/datawrapper/datawrapper-el.png');
    }

    &.socialpoint:after {
      background-image: url($images + 'template/ModCustomers/socialpoint/socialpoint-el.png');
    }

     &.omnidb:after {
      background-image: url($images + 'template/ModCustomers/omnidb/omnidb-el.png');
    }

    &.visible:after {
      background-image: url($images + 'template/ModCustomers/visible/visible-el.png');
    }

    &.amcharts:after {
      background-image: url($images + 'template/ModCustomers/amcharts/amcharts-el.png');
    }

    &.slicingdice:after {
      background-image: url($images + 'template/ModCustomers/slicingdice/slicingdice-el.png');
    }

    &.coming-soon {
      cursor: default;
      background-color: $lightGray;
    }

    img, h3 {
      z-index: 3;
    }

    img {
      @include absolute-top-right(40px, 40px);
    }

    h3 {
      @include absolute-bottom-left(20px, 30px);
      padding-right: 20px;
      line-height: 1.2em;
    }

    .header-background {
      @include linear-gradient(-55deg, #1addef 0%, #2443fe 60%, #2443fe 40%, #4508c1 100%);
      height: 50vh;
      min-height: 540px;
      position: relative;
      overflow: hidden;

      @media only screen and (min-width: $largeWidth) {
        height: 86vh;
      }
    }
  }
}