/**
 * @author: Handsoncode
 */

.developers .developer-section {

  h3 {
    padding: 0 0 20px 0;
    text-align: left;
    line-height: 1.1em;
    font-weight: 400;

    @media only screen and (min-width: $mediumWidth) {
      margin: 0 0 15px 0;
    }
  }

  h4 {
    margin: 10px 0 0 0;
    padding: 20px 0;
    line-height: 0.7em;
    font-weight: 400;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 0 0 20px 20px;
    }
  }

  h5 {
    padding: 0;
    text-align: left;
    font-weight: 600;

    @media only screen and (min-width: $mediumWidth) {
      margin: 10px 0;
    }
  }

  p {
    a {
      font-size: inherit;
    }
  }

  .btn {
    margin: 5px 0 10px 0;

    @media only screen and (min-width: $largeWidth) {
      margin: 10px 10px 0 0;
    }
  }

  .module-header-section {
    padding: 40px 0 10px 10px;
    text-align: left;

    @media only screen and (min-width: $mediumWidth) {
      padding: 40px 0 0 0;
    }
  }

  .module-container {
    padding: 40px 15px 40px 15px;
    background-color: $headerGrey;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      height: 260px;
      margin: 5px 0 0 0;
      padding: 25px 30px 40px 30px;
    }
  }

  .light-module-container {
    width: 100%;
    padding: 30px 0 0 0;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      margin: 0;
      padding: 80px 0 0 0;
    }

    .contact {
      line-height: 4em;
    }

    ul, li {
      margin-left: 0;
      text-align: left;
      line-height: 2em;

      @media only screen and (min-width: $mediumWidth) {
        margin-left: 10px;
      }

      a {
        font-size: inherit;
      }
    }
  }

  .whats-new-module {
    padding: 40px 15px;
    background-color: $headerGrey;
    color: $baseGray;

    @media only screen and (min-width: $largeWidth) {
      margin: 5px 0 0 0;
      padding: 20px 30px;
    }

    & > div {

      border-bottom: 1px solid $lightGray;

      &:last-child {
        border-bottom: none;
      }

      h4 {
        margin: 20px 0 10px 0;
        padding: 0;
        text-align: left;
        line-height: 1em;
        font-weight: 600;
        font-size: 0.915em;

        @media only screen and (min-width: $mediumWidth) {
          margin: 20px 0 0 0;
        }
      }
    }
  }

  a.more-articles {
    width: 100%;
    padding: 20px 0 20px 0;
    font-weight: 400;
    background-color: $ultraLightGray;
    text-align: center;
    display: inline-block;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s;

    &:hover,
    &:active,
    &:focus {
      background-color: $gray;
      text-decoration: none;
    }
  }
}