/**
 * @author: Handsoncode
 */

.developers .module {

  h3 {
    margin: 14px 0;
  }

  h4 {
    margin: 0 0 30px;
    font-size: 15px;
    font-family: $regularFont;
  }

  .content {
    padding: 30px 35px;
    border-radius: 4px;
    background-color: $darkWhite;

    & > p:first-child {
      margin-top: 0;
    }

    &.news-blog {

      h4 {
        margin: 0;
      }
    }

    ul.list-numbered {

      li {
        list-style: square;
        margin-left: 20px;
      }
    }

    a.more-articles {
      margin-top: 34px;
      padding: 14px;
      display: block;
      background-color: $ultraLightGray;
    }

    &.height {
      &-xsmall {
        min-height: 180px;
      }
      &-small {
        min-height: 230px;
      }
      &-medium {
        min-height: 270px;
      }
      &-large {
        min-height: 330px;
      }
    }
  }
}
