<section class="post" itemid="https://handsontable.com/2017/5/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Handsontable Pro 1.14.0<br/>
                (CE 0.34.2) now released
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/chris-spilka.jpg" alt="Chris Spilka" />
                    <label>Chris Spilka</label>
                </span>
                <span><a href="/blog/categories/release">Release</a> / September 12, 2017</span>
                <meta itemprop="datePublished" content="2017-09-126T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-09-012T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/9/1.14.0-0.34.2/new-release.png"
                     alt="Handsontable Pro 1.14.0 (CE 0.34.2) released" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/2017/9/1.14.0-0.34.2/new-release.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="504">
            </p>

            <p>
                Today we released a new version of Handsontable Pro (1.14.0) and Community Edition (0.34.2).
                Among others things, we fixed a bug causing a misalignment of an indicator when moving fixed size columns.
            </p>

            <h3>
                Breaking changes:
            </h3>
            <ul>
                <li>
                    It is required to pass a valid license key in the settings object under the <code class="inline">
                    licenseKey</code> property.
                    If a valid key is not provided, Handsontable Pro will display a small notification right below the table.
                    Please review your implementation to make sure your setup is correct.
                    <a href="/blog/articles/2017/9/exciting-news-for-handsontable-pro-users">Learn more</a>
                </li>
            </ul>
            <h3>
                Changes:
            </h3>
            <ul>
                <li>
                    Fixed a problem with incorrect usage of the <code class="inline">test</code>
                    method in the <code class="inline">hasClass</code> polyfill
                    (<a href="https://github.com/handsontable/handsontable/issues/4508" target="_blank">#4508</a>).
                </li>
                <li>
                    Fixed a bug, where zoomed-out Chrome made the table impossible to scroll
                    (<a href="https://github.com/handsontable/handsontable/issues/4502" target="_blank">#4502</a>).
                </li>
                <li>
                    Fixed a problem with misaligned indicator in the Manual Column Move plugin
                    (<a href="https://github.com/handsontable/handsontable/issues/4496" target="_blank">#4496</a>).
                </li>
                <li>
                    Fixed an issue with Handsontable's default export property
                    (<a href="https://github.com/handsontable/handsontable/issues/4495" target="_blank">#4495</a>).
                </li>
            </ul>

            <p>
                Follow us on <a href="//twitter.com/handsontable" target="_blank">Twitter</a> to be up-to-date
                with all updates to Handsontable.
            </p>
            <p>
                We appreciate all of your suggestions and bug reports that helps us fix issues faster.
                You may want to leave a comment or
                <a href="/contact.html">contact us</a>
                to help us make Handsontable even better.
            </p>
            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_cspilka") %>
</section>