<section class="post" itemid="https://handsontable.com/2017/9/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Introducing The New <br/>Handsontable Logo
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/aleksandra-budnik.png" alt="'Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/news">News</a> / September 13, 2017</span>
                <meta itemprop="datePublished" content="2017-09-13T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-09-13T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/9/introducing-the-new-handsontable-logo/introducing-the-new-handsontable-logo.png"
                     alt="Introducing The New Handsontable Logo" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/2017/9/introducing-the-new-handsontable-logo/introducing-the-new-handsontable-logo.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="504">
            </p>

            <p>
                Often, what is meant to be temporary ends up staying with us for far longer than originally intended.
                Back in 2014, just before we launched the commercial version of Handsontable, we introduced our new logo.
                What we needed at the time was something that would help us mark our presence on the market. To be
                frank, we didn’t spend much time designing it, since we were busy preparing for the launch. The result
                was a mix of our ideas, but it lacked consistency and flair. Even so the logo has survived for nearly
                18 months. Much longer than anticipated.
            </p>
            <p>
                Part of our original idea was to create a connection of twisted hands, with the letter H inside.
                And there is a 3D perspective to it too, if you look at it as a cube.
            </p>
            <p>
                <img src="../../../attachments/images/2017/9/introducing-the-new-handsontable-logo/old-handsontable-logo.jpeg"
                     alt="Old Handsontable logo">
            </p>
            <p>
                Wicked thing!
            </p>
            <p>
                It was the result of interpreting the words Hands-on-table very literally. For the typography we used
                the uppercase version of
                <a href="https://en.wikipedia.org/wiki/Source_Sans_Pro" target="_blank">
                    “Source Sans Pro”</a> which, with the benefit of time, now looks too indistinct,
                and even a little aggressive. None of our team members liked it much, but as I said earlier, time was
                running out and we had no choice but to pick anything that was somewhat acceptable.
            </p>
            <h3>
                The Creative Process Behind our new Logo
            </h3>
            <p>
                The driving — and creative — force behind our new logo is our brand designer, Marcin Kordacki. Marcin
                joined us in February 2017, and immediately took on the responsibility of designing a new logo based
                on our input and an accumulation of customer feedback. We shared with him all our thoughts and
                assumptions about how our product is currently seen in the market, and how we’re going to position it
                in the future. He came back to us with a cloud of word associations, a mood board, and a bunch of ideas
                on how to best bring our new logo to life.
            </p>
            <p>
                <img src="../../../attachments/images/2017/9/introducing-the-new-handsontable-logo/brainstorm-session.jpg"
                     alt="Marcin and Chris during a brainstorm session">
            </p>
            <label class="photo-label">
                Marcin and Chris during a brainstorm session
            </label>
            <p>
                The final idea was simple: tell the world that Handsontable is a beautiful, professional spreadsheet.
                But keep it simple. Very simple.
            </p>
            <p>
                We chose to form our logo around two elements: our name — Handsontable — which is the main differentiator
                of our brand, and the small element at the end of it which is associated only with a grid’s cell — a
                fill handle (or drag-down button). That small square at the bottom right corner of a cell typically
                allows you to populate data into another cell or group of cells. It’s very typical of spreadsheets
                and doesn’t exist anywhere else.
            </p>
            <p>
                This time it took us several hours to first pick the right font — with us ultimately agreeing on using
                Nimbus Sans.
                <a href="https://en.wikipedia.org/wiki/Nimbus_Sans" target="_blank">
                    Nimbus Sans</a> is a beautiful iteration of the world’s most loved font — Helvetica. And
                choosing a color was never a problem since we prefer the old school approach to logos, which demands
                the use black or white only.
            </p>
            <h3>
                The Final Result
            </h3>
            <p>
                So now it is time to reveal the result of this creative process — I’m happy to present to you the new 
                logo of Handsontable. This time created with great care, and the intent of conveying the right message 
                to our customers.
            </p>
            <p>
                <img src="../../../attachments/images/2017/9/introducing-the-new-handsontable-logo/new-handsontable-logo.png"
                     alt="New Handsontable logo">
            </p>
            <p>
                I hope you like it!
            </p>

            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_abudnik") %>
</section>