/**
 * @author: Handsoncode
 */

.download .products {

  a {
    min-height: 310px;
    padding: 24px 30px;
    display: block;
    position: relative;

    p.btn {
      width: 100%;
      position: relative;
      padding-right: 50px;

      svg {
        @include square (20px);
        @include absolute-top-right (16px, 10px);
        fill: $brandGreen;
      }
    }

    &.handsontable-pro {

      p.btn svg {
        fill: $brandBlue;
      }
    }
  }

  &.coming-soon {

    a {
      min-height: initial;
      cursor: default;
    }
  }
}