/**
 * @author: Handsoncode
 */

.download .wrappers {
  margin-top: 20px;

  ul {
    margin: 0;

    @media only screen and (min-width: $largeWidth) {
      width: 60%;
      margin: 0 auto;
    }

    li {
      text-align: center;
    }
  }

  p {
    margin: 0;
  }

  svg {

    @include square(60px);
    margin: 8px;
    padding: 5px;
    fill: $darkWhite;

    @media only screen and (min-width: $largeWidth) {
      margin: 6px;
    }

    &.in-progress {
      filter: grayscale(100%) brightness(140%) opacity(40%) blur(0);
    }
  }
}