/**
 * @author: Handsoncode
 */

.contact .tabs {
    padding-left: 0;
    padding-right: 0;

  a {
    font-size: inherit;
  }

  .extra {
    margin: 10px 0 15px 0;
  }

  .tab {
    margin-bottom: -3px;
    overflow: auto;

    @media only screen and (min-width: $mediumWidth) {
      background: none;
    }
    li {
      margin: 0 25px;
    }
  }
}