<section class="post" itemid="https://handsontable.com/2017/5/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-7 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Handsontable Pro 1.12.0 (CE 0.33.0) released
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/aleksandra-budnik.png" alt="Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/release">Release</a> / July 11, 2017</span>
                <meta itemprop="datePublished" content="2017-07-11T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-07-11T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/7/1.12.0-0.33.0/new-release.png"
                     alt="Handsontable Pro 1.12.0 (CE 0.33.0) released" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/2017/7/1.12.0-0.33.0/new-release.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="504">
            </p>

            <p>
                Today we are happy to announce that Handsontable Pro 1.12.0 (Community Edition 0.33.0) is
                finally released. In this version we have completely removed ZeroClipboard from our dependencies
                and replaced it with our custom solution based on ClipboardEvent. From now on Handsontable is
                Flash-free!
            </p>

            <h3>
                Breaking changes:
            </h3>
            <ul>
                <li>
                    We've refactored the Copy/Paste plugin and removed the ZeroClipboard dependency. Please make sure
                    it works as expected in your setup before updating to this version.
                </li>
                <li>
                    Some of the Filters plugin's API methods has changed. Please check
                    <a href="https://github.com/handsontable/handsontable/issues/4358" target="_blank">
                    #4358</a> for detailed information.
                </li>
            </ul>

            <h3>
                Other changes:
            </h3>
            <ul>
                <li>
                    Fixed a bug where Filters were broken when doing a custom build.
                </li>
                <li>
                    Added a workaround for npm incorrectly generating the <em>package-lock.json</em> file.
                </li>
                <li>
                    Removed ZeroClipboard from dependencies.
                </li>
                <li>
                    Extended the Filters API for with extra operations between conditions.
                    (<a href="https://github.com/handsontable/handsontable/issues/4191" target="_blank">#4191</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/4032" target="_blank">#4032</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/3895" target="_blank">#3895</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/3876" target="_blank">#3876</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/3170" target="_blank">#3170</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/3025" target="_blank">#3025</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/2298" target="_blank">#2298</a>,
                    <a href="https://github.com/handsontable/handsontable/issues/2259" target="_blank">#2259</a>).
                </li>
                <li>
                    Updated the Handsontable dependencies.
                    (<a href="https://github.com/handsontable/handsontable/issues/4280" target="_blank">#4280</a>).
                </li>
                <li>
                    Fixed a problem with a missing method import
                    (<a href="https://github.com/handsontable/handsontable/issues/4367" target="_blank">#4367</a>).
                </li>
                <li>
                    Added a new config option for the Comments plugin (<strong>displayDelay</strong>), allowing to
                    customize the delay for showing the comment box.
                    (<a href="https://github.com/handsontable/handsontable/issues/4323" target="_blank">#4323</a>).
                </li>
                <li>
                    Fixed a problem, where using the Autofill option upwards with a group of cells gave unexpected
                    results.
                    (<a href="https://github.com/handsontable/handsontable/issues/4298" target="_blank">#4298</a>).
                </li>
                <li>
                    Fixed an issue with different gap sizes in the dropdown menu for Firefox and Chrome.
                    (<a href="https://github.com/handsontable/handsontable/issues/2832" target="_blank">#2832</a>).
                </li>
                <li>
                    Added a helper for template literals.
                    (<a href="https://github.com/handsontable/handsontable/issues/4354" target="_blank">#4354</a>).
                </li>
                <li>
                    Updated our ESlint rules list.
                    (<a href="https://github.com/handsontable/handsontable/issues/4366" target="_blank">#4366</a>).
                </li>
            </ul>

            <p>
                You want to be up-to-date with all our updates? You will always find fresh updates on
                our <a href="https://twitter.com/handsontable" target="_blank">Twitter profile</a>.
            </p>
            <p>
                We appreciate all Github issues and emails which helped us fix issues in the current release. Leave a
                comment or
                <a href="https://handsontable.com/contact.html" target="_blank">
                    contact us
                </a>
                to help us make Handsontable even better.
            </p>
           <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_abudnik") %>
</section>