<section class="post" itemid="https://handsontable.com/2017/10/<%= current.source %>" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="large-6 large-centered columns">
            <h2 class="headline" itemprop="headline">
                Handsontable Pro 1.14.3<br/>
                (CE 0.34.5) now released
            </h2>
            <div class="meta-details">
                <span>
                    <img src="../../../attachments/authors/aleksandra-budnik.png" alt="Aleksandra Budnik" />
                    <label>Aleksandra Budnik</label>
                </span>
                <span><a href="/blog/categories/release">Release</a> / October 11, 2017</span>
                <meta itemprop="datePublished" content="2017-10-116T12:00:00+01:00"/>
                <meta itemprop="dateModified" content="2017-10-011T12:00:00+01:00"/>
                <span><a href="#disqus_thread"></a></span>
            </div>
        </div>
    </div>
    <article class="row body">
        <div class="large-8 medium-12 large-centered columns">
            <p itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <img src="../../../attachments/images/2017/10/1.14.3-0.34.5/new-release.png"
                     alt="Handsontable Pro 1.14.3 (CE 0.34.5) released" />
                <meta itemprop="url"
                      content="https://handsontable.com/blog/attachments/images/2017/10/1.14.3-0.34.5/new-release.png">
                <meta itemprop="width" content="757">
                <meta itemprop="height" content="504">
            </p>

            <p>
                Today we are happy to announce that Handsontable Pro 1.14.3 (Community Edition 0.34.5) is now released.
                In this version we have fixed copy/paste functionality and added a new option for the Gantt Chart.
            </p>

            <h3>
                Changes
            </h3>
            <ul>
                <li>
                    Fixed the copy/paste functionality for older versions of Safari.
                    (<a href="https://github.com/handsontable/handsontable/issues/4407" target="_blank">#4407</a>).
                </li>
                <li>
                    Added the <code class="inline">allowSplitWeeks</code> option for the Gantt Chart plugin
                    (defaults to <code class="inline">true</code>).
                </li>
            </ul>

            <p>
                Follow us on <a href="//twitter.com/handsontable" target="_blank">Twitter</a> to be up-to-date
                with all updates to Handsontable.
            </p>
            <p>
                We appreciate all of your suggestions and bug reports that helps us fix issues faster.
                You may want to leave a comment or
                <a href="/contact.html">contact us</a>
                to help us make Handsontable even better.
            </p>
            <div class="addthis_native_toolbox toolbox"></div>
        </div>
    </article>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="http://handsoncode.net/images/logos/logo.png">
            <meta itemprop="width" content="175">
            <meta itemprop="height" content="25">
        </div>
        <meta itemprop="name" content="Handsoncode">
    </div>

    <%- partial("../../../authors/_abudnik") %>
</section>