/**
 * @author: Handsoncode
 */

.pricing .pricing-plans {
  border-radius: 4px;
  border: 1px solid $accentBorderColor;
  background-color: #fff;

  .plan {
    padding: 32px 0 98px;
    position: relative;
    white-space: nowrap;

    @media only screen and (min-width: $largeWidth) {
      min-height: 490px;
      padding-bottom: 0;
    }

    h3 {
      margin: 0;
    }

    p {

      &.price {
        margin-bottom: 0;
        font-size: 24px;
      }
      &.unit {
        margin: 0 auto 20px;
        font-size: 11px;
      }
    }

    ul {
      width: 60%;
      margin: 0 auto;

      li {
        padding: 5px 0;

        svg {
          @include relative-top-left (3px, -5px);
        }

        &.premium-list {
          position: relative;
          cursor: pointer;

          span {
            padding-bottom: 2px;
            border-bottom: 1px dashed $gray;
          }

          .tooltip-inner {
            @include absolute-top-left (38px, 19px);
            @include rectangle (auto, auto);
            @include transition (opacity .3s ease);
            display: none;

            @media only screen and (min-width: $largeWidth) {
              display: block;
            }

            font-size: 13px;
            line-height: 1.5;
            text-align: left;
            padding: 8px 15px;
            cursor: default;
            background-color: $ultraLightGray;
            border-radius: 4px;
            visibility: hidden;
            opacity: 0;
            z-index: 10;
            box-shadow: 0 2px 13px 0 rgba(68, 68, 68, 0.3);
          }

          &:hover {

            span {
              border-color: $darkGray;
            }

            .tooltip-inner {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }

    .btn {
      @include absolute-bottom-left (30px, 50%);
      width: 60%;
      margin-left: -30%;
    }

    &.developer-plus {
      width: 100%;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(160, 160, 160, 0.9);
      background: $brandDarkNavy;

      @media only screen and (min-width: $largeWidth) {
        @include absolute-top-left (-10px, 0);
        min-height: 510px;
      }

      h3 {
        margin-top: 10px;

        span {
          font-size: inherit;
          font-weight: inherit;
          color: $brandVibrantBlue;
        }
      }

      .btn {
        bottom: 40px;
      }
    }
  }
}

.stripe-gray-padding {
  @extend .stripe-gray;
  padding-bottom: 60px;
}



