/**
 * @author: Handsoncode
 */

.pricing .testimony {
  padding: 40px 0 22px;
  margin: 42px auto 42px;

  h5 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  img {
    border-radius: 100%;
  }

  blockquote {
    margin: 6px 0 0;
    font-weight: 300;
    font-size: 26px;
  }
}